body {
  background-color: $background-color;
}

// CONTAINER
.container {
  margin: 5% $body-padding;

  &.nav {
    margin-top: calc(#{$nav-height} + 5%);
  }
}

.box-container {
  margin-left: -$body-padding;
  margin-right: -$body-padding;
}

.box {
  padding: $body-padding * 2 $body-padding;
  border: $border-width solid $black;
  margin-top: -1px;
  margin-left: -1px;
  &:last-child {
    //border-bottom: $border-width solid $black;
  }
}

