body {
  background-color: $background-color;
}

// Works with the footer
.full-width-container {
  width: 100%;
  background: $background-color;
}

// CONTAINER
.container {
  max-width: $xxl;
  margin-right: auto;
  margin-left: auto;
  padding: 5% $body-padding $footer-height;
  margin-bottom: $footer-height;

  &.nav {
    padding-top: calc(#{$nav-height} + 5%);
  }

  &.max-mobile {
    max-width: 375px;
    padding-left: auto;
    padding-right: auto;
  }
}

.full-width {
  width: 100%;
}


.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 0;
}

.preloader {
  &:not(.loading) {
    display: none;
  }

  width: $preloader-size;
  height: $preloader-size;
  background: black;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  30% {
    transform: rotate(45deg) scale(0.9, 1.1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  60% {
    transform: rotate(90deg) scale(1);
  }
  100% {
    transform: rotate(90deg);
  }
}