body {
  background-color: $background-color;
}

// CONTAINER
.container {
  padding: 5% $body-padding $footer-height;
  background: $background-color;
  margin-bottom: $footer-height;

  &.nav {
    padding-top: calc(#{$nav-height} + 5%);
  }
  &.max-mobile {
    max-width: 375px;
    padding-left: auto;
    padding-right: auto;
  }
}

.full-width {
  width: 100%;
}


.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 0;
}
