body {
  background-color: $footer-color;
  margin-bottom: $footer-height;

}

// CONTAINER
.container {
  padding: 5% $body-padding;
  background: $background-color;

  &.nav {
    padding-top: calc(#{$nav-height} + 5%);
  }
  &.max-mobile {
    max-width: 375px;
    padding-left: auto;
    padding-right: auto;
  }
}

.box-container {
  margin-left: -$body-padding;
  margin-right: -$body-padding;
}

.full-width {
  width: 100%;
}

.box {
  padding: $body-padding * 2 $body-padding;
  border: $border-width solid $black;
  margin-top: -1px;
  margin-left: -1px;
  &:last-child {
    //border-bottom: $border-width solid $black;
  }
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 0;
}
