html {
  font-size: $root-font-size;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header1, .header2, .header3 {
  font-weight: bold;
}

h1, .header1 {
  $h1: (576: 48, 1024: 56);
  font-size: least-squares-fit($h1);
  line-height: 1.2em;
}

h2, .header2 {
  $h2: (576: 32, 1024: 36);
  font-size: least-squares-fit($h2);
}

h3, .header3 {
  $h3: (576: 24, 1024: 24);
  font-size: least-squares-fit($h3);
}

.subtitle1 {
  font-size: 1.125rem;
  font-weight: bold;
}

.subtitle2 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  line-height: 1.4em;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.caption {
  font-size: 0.75rem;
  line-height: 1.2em;
}

.overline {
  font-size: 0.625rem;
}