// Colors
$black: #1A1A1A;
$dark-gray: #757573;
$gray: #CAC9C6;
$background-color: #F3F2EF;
$footer-color: $black;

$accent-1: #F0AE1A;
$accent-2: #EB7F43;
$accent-3: #E81756;
$accent-4: #8E0961;
$accent-5: #3B208B;

$error: #D83163;
$success: #4BB543;

// Typography
$root-font-size: 16px;

// Z-index
$z-navbar: 50;
$z-modal: 100;

// Sizes
$body-padding: 1rem;
$footer-height: 200px;
$nav-height: 4rem;
$preloader-size: 1rem;

// Border
$border-width: 1px;
$border: $border-width solid $black;
$thick-border: var(--border-width) solid $black;


// Responsive
$xxs: 20em; // (320px)
$xs: 30em; // (480px)
$sm: 37.5em; // (600px)
$md: 48em; // (768px)
$lg: 56.25em; // (900px)
$xl: 68.75em; // (1100px)
$xxl: 81.25em; // (1300px)


// CSS Variables
:root {
    --border-width: 2px;

    @media screen and (min-width: $md) {
        --border-width: 3px;
    }
}