$root-font-size: 16px;
$border-width: 1px;

$body-padding: 1rem;
$footer-height: 200px;

$nav-height: 4rem;

$black: #1A1A1A;
$dark-gray: #757573;
$gray: #CAC9C6;
$background-color: #F3F2EF;
$footer-color: $black;

$error: #D83163;

$z-navbar: 10000;