{% extends 'base.html' %}

{% load static %}
{% load days_until %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div id="all-events" class="container nav">
    <header>
        <h1>Arrangementer</h1>
        <img src="{% static 'img/illustrations/siri.png' %}" alt="Bli med på Leonardos arrangmenter som Siri">
    </header>
        <div class="box-container">
            {% for event in events %}
                <a class="event {% if event.event_start_time|days_until < 0 %}old{% endif %}"
                   href="{% url 'event' event_slug=event.slug %}">
                    <div>
                        <h3>{{ event.event_start_time|date:"d.m.y" }}</h3>
                        <h3>{{ event.title }}</h3>
                        <p>{{ event.description }}</p>
                        {#                                <p class="label days-left">{{ days_left }} {% if days_left == 1 %}dag{% else %}#}
                        {#                                    dager{% endif %}#}
                        {#                                    til</p>#}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}