{% extends "base.html" %}

{% block page_title %}Admin | {{ event.title }}{% endblock page_title %}

{% block content %}

<a href="{% url 'event' event_slug=event.slug %}" class="tilbake">Tilbake</a>
<table class="table">
    <tr>
        <th>Navn</th>
        <th>E-post</th>
        <th>Klasse</th>
        <th>Allergier</th>
    </tr>
    {% for user in registered_users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            {% with year=user.get_class_year %}
            {% if year == "Alumni" %}
            <td>Alumni</td>
            {% else %}
            <td>{{ year }}. klasse</td>
            {% endif %}
            {% endwith %}
            <td>{{ user.allergies }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td><b>Totalt antall: {{ registered_users.all.count }}</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

{% endblock content %}