{% extends "base.html" %} 

{% load staticfiles %}

{% block page_title %}{{ event.title }}{% endblock page_title %}

{% block content %}
{% include "navbar.html" %}

<div class="container--nav" id="event-page">

    <div class="beskrivelse not-loaded">
        <a class="tilbake" href="{% url 'students' %}">Tilbake</a>
        {% if request.user.is_staff %}
            <a class="button" href="{% url 'event-admin' event_slug=event.slug %}">Admin</a>
        {% endif %}
        <h1>{{ event.title }}</h1>
        <p>{{ event.description }}</p>
    </div>
    <div class="bilde not-loaded">
        <img src="{{ event.image.url }}" alt="">
    </div>
    <div class="signup not-loaded">
        <p></p>
        <p>{{ event.event_start_time|date:"j. F H:i" }} {% if event.end_time %}- {{ event.event_end_time|date:"H:i" }}{% endif %}</p>
        <p>{{ event.location }}</p>
        {% if event.registration_required and request.user.is_authenticated %}
        <div id="logged-in">
            <p>Hei {{ request.user.first_name }}</p>
        </div>
        {% endif %}
    
        {% if event.registration_required %}
        <p id="open-for">{{ open_for }}</p>
        <form id="event-login-field" method="POST">
            {% csrf_token %}
            <div id="log-in-fields">
                {% if not request.user.is_authenticated %}
                    <label for="email">E-post</label>
                    <input type="text" name="email" id="email">
                    <span class="error"></span>
                    <label for="password">Passord</label>
                    <input type="password" name="password" id="password">
                    <span class="error"></span>
                    <input type="submit" value="Logg inn">
                {% else %}
                    {% if already_registered %}
                        <input class="button" type="submit" value="Meldt på" disabled>
                    {% elif only_komite %}
                        <input class="button" type="submit" value="Bare for komitéer" disabled>
                    {% elif not_open_yet %}
                        <input class="button" type="submit" value="Påmelding ikke åpnet enda" disabled>
                    {% elif not event_not_full %}
                        {% if on_waiting_list %}
                            <input id="waiting-list" class="button" type="submit" data-waiting-list="true" value="Du står på venteliste" disabled>
                        {% elif waiting_list %}
                            <input id="waiting-list" class="button" type="submit" data-waiting-list="true" value="Legg deg i ventelisten">
                        {% endif%}
                        <input class="button" type="submit" value="Arrangementet er fullt" disabled>
                    {% elif no_access %}
                        <input class="button" type="submit" value="Ikke tilgang" disabled>
                    {% else %}
                        <input class="button" type="submit" value="Bli med">
                    {% endif %}
                {% endif %}
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static '/js/ajaxSetup.js' %}"></script> 
<script>
    $(document).ready(function() {
        $('.not-loaded').removeClass('not-loaded');
    });
        
    function loggedIn(data) {
        if (data.loginSuccess) {
            let form = $('#log-in-fields');
            form.empty();
            $('#open-for').text(data.open_for);
            if (data.already_registered) {
                form.append('<input class="button" type="submit" value="Meldt på" disabled>');
            } else if (data.only_komite) {
                form.append('<input class="button" type="submit" value="Bare for komitéer" disabled>')
            } else if (data.not_open_yet) {
                form.append('<input class="button" type="submit" value="Påmelding ikke åpnet enda" disabled>')
            } else if (!data.event_not_full) {
                if (data.on_waiting_list) {
                    form.append('<input id="waiting-list" class="button" type="submit" data-waiting-list="true" value="Du står på venteliste" disabled>')
                } else if(data.waiting_list) {
                    form.append('<input id="waiting-list" class="button" type="submit" data-waiting-list="true" value="Legg deg i ventelisten">')
                }
                form.append('<input class="button" type="submit" value="Arrangementet er fullt" disabled>')
            } else if(data.no_access) {
                form.append('<input class="button" type="submit" value="Ikke tilgang" disabled>')
            } else {
                form.append('<input class="button" type="submit" value="Bli med">')
            }
        }
    }

    $('#event-login-field').on('submit', function(e) {
        e.preventDefault();
        console.log($(this).serialize());

        $.ajax({
            type: 'POST',
            url: '{% url "event" event_slug=event.slug %}',
            data: {
                'email': $('#email').val(),
                'password': $('#password').val(),
                'waiting_list': $('#waiting-list').data("waiting-list")
            },
            success: function(data) {
                console.log(data);
                loggedIn(data)
            },
            error: function(data) {
                console.log("Error");
                console.log(data);
            }
        })
    });
</script>
{% endblock javascript %}
