<div class="signup">
        <p></p>
        <p>{{ event.event_start_time|date:"j. F H:i" }} - {{ event.event_end_time|date:"H:i" }}</p>
        <p>{{ event.location }}</p>
        <p>{{ event.open_for }}</p>
    
        {% if not request.user.is_authenticated %}
        <form id="event-login-field" method="POST">
                {% csrf_token %}
                <label for="email">E-post</label>
                <input type="text" name="email" id="email">
                <span class="error"></span>
                <label for="password">Passord</label>
                <input type="password" name="password" id="password">
                <span class="error"></span>
                <input type="submit" value="Logg inn">
            </form>
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                {% if event_registration %}
                    
                    {% if already_registered %}
                        <input type="submit" value="Meldt på" disabled>
                    {% elif not event_not_full %}
                        <input type="submit" value="Arrangementet er fullt" disabled>
                    {% else %}
                        <input type="submit" value="Bli med">
                    {% endif %}

                {% endif %}
            </form>
        {% endif %}
    </div>