<h1>Data Leonardo lagrer om deg:</h1>
<ul>
    <li>Dataen du skriver inn her: Navn, e-post, avslutningsår, allergier</li>
    <li>Arrangementer du skal/har deltatt på</li>
    <li>Wikiartikler du har laget blir ikke automatisk slettet selv om du sletter brukeren. Ingen data om forfatter
        lagres. Du kan be om at artikkelen blir slettet.</li>
    <li>Prosjekter har et “laget av”-felt. Dette er ikke koblet opp mot brukeren din. Men er et vanlig tekstfelt hvor
        personen som oppretter prosjektet kan skrive ditt navn.</li>
</ul>