{% extends 'base.html' %} 
{% load staticfiles %} 

{% block content %}
<div>
    <div id="landing-page">
        <div class="row">
            <div id="student" class="square"></div>
            <div id="prosjekter" class="square"></div>
        </div>
        <div class="row">
            <div id="bedrift" class="square"></div>
            <div id="kontakt" class="square"></div>
        </div>
    </div>
</div>
<script src="{% static '/js/home/landingPage.js' %}"></script>
{% endblock content %}