{% extends 'industrielldesign/base.html' %} {% load staticfiles %} {% block content %}
<div>
    <p class="paragraph">In word processing and desktop publishing, a hard return or paragraph break indicates a new paragraph, to be distinguished
        from the soft return at the end of a line internal to a paragraph. This distinction allows word wrap to automatically
        re-flow text as it is edited, without losing paragraph breaks. The software may apply vertical whitespace or indenting
        at paragraph breaks, depending on the selected style. How such documents are actually stored depends on the file
        format. For example, HTML uses the
        tag as a paragraph container. In <a href="#">files</a>, there are two common formats. Pre-formatted text will have a newline
            at the end of every physical line, and two newlines at the end of a paragraph, creating a blank line. An alternative
            is to only put newlines at the end of each paragraph, and leave word wrapping up to the application that displays
            or processes the text. A line break that is inserted manually, and preserved when re-flowing, may still be distinct
            from a paragraph break, although this is <a href="#">typically</a> not done in prose. HTML's
            tag produces a line break without ending the paragraph; the W3C recommends using it only to separate lines of
            verse (where each "paragraph" is a stanza), or in a street address.[7]</p>
</div>
{% endblock content %}