{% extends 'base.html' %}

{% load static %}
{% load days_until %}
{% load project_filters %}

{% block page_title %}Hjem{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<main id="homepage">
    <section>
        <h1>Leonardo og<br>gjengen</h1>
        <p>Studentene ved Industriell design på NTNU</p>
        <img src="{% static 'img/illustrations/bao.png' %}" alt="Velkommen til Leonardo linjeforening">
    </section>
    <br>
    <div class="container">
        <h4>Kommende hendelser</h4><br>
        <div class="events box-container">
            {% for event in events %}
            {% include 'components/event.html' with event=event %}
            {% endfor %}
        </div>
        <div class="projects box-container">
            {% for project in projects %}
            <a class="box" href="{% url 'project-detail' project_slug=project.slug %}">
                <img class="" src="{{ project.projectimage_set.all|get_first_project_image_url }}">
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% include 'components/footer.html' %}
{% endblock content %}
{% block javascript %}
{% endblock javascript %}