{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div id="login-page" class="container--nav">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Logg inn</h1>
            <div class="input-container fluid">
                <label for="{{ form.email.id_for_label }}">E-post</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="input-container fluid">
                <label for="{{ form.email.id_for_label }}">Passord</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <input class="button cta" type="submit" value="Logg inn">
        </form>
</div>

{% endblock content %}