{% extends "base.html" %}
{% load static %}

{% block page_title %}Login{% endblock %}

{% block content %}

<div id="login-page" class="container--nav">
        <form method="POST">
            {% csrf_token %}
            <img src="{% static 'img/login.png' %}" alt="">
            <div class="input-field fluid">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">E-post</label>
                {{ form.email.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.password }}
                <label for="{{ form.email.id_for_label }}">Passord</label>
                {{ form.password.errors }}
            </div>
            <input class="button cta" type="submit" value="Logg inn">
            <div class="links">
                <a class="link" href="/accounts/password_reset">Glemt passordet?</a>|
                <a class="link" href="{% url 'register' %}">Registrer ny bruker</a>
            </div>
        </form>
</div>

{% endblock content %}