{% extends 'base.html' %}

{% load days_until %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container--nav" id="student">

        <div class="color-field">
            <!-- Something needs to go here -->
            <p>Kommer no greier her etter hvert</p>
        </div>
        <div class="events">
            {% for event in events %}
                {% with event.event_start_time|days_until as days_left %}
                    <a class="event" href="{% url 'event' event_slug=event.slug %}">
                        <img src="{{ event.image.url }}" alt="">
                        <div class="event-info">
                            <h3>{{ event.title }}</h3>
                            <p class="label days-left">{{ days_left }} {% if days_left == 1 %}dag{% else %}
                                dager{% endif %}
                                igjen</p>
                            <div class="dots">
                                {% for i in days_left|times %}
                                    <div class="dot"></div>
                                {% endfor %}
                            </div>
                            <div class="event-date">
                                <div>
                                    <p class="label">Når</p>
                                    <p>{{ event.event_start_time|date:"d. F H:i" }}</p>
                                </div>
                                <div>
                                    <p class="label">Hvor</p>
                                    <p>{{ event.location }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}