<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div id="forgot-password-form" class=" container nav max-mobile">
        <h1>Glemt passordet ditt?</h1>
        <p>Skriv inn e-posten din så sender vi deg en resettingslink</p>

        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="E-post">
                <label for="id_email">E-post</label>
            </div>
            <button class="button cta" type="submit">Send e-post</button>
        </form>
    </div>
{% endblock %}