<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div id="forgot-password-form" class=" container nav narrow">
        <img src="{% static 'img/illustrations/glemt_passord.png' %}" alt="">
        <h1>Glemt passordet ditt?</h1>
        <p>Skriv inn e-posten din så sender vi deg en resettingslink</p>

        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder=".">
                <label for="id_email">E-post:</label>
            </div>
            <input class="button cta" type="submit" value="Send e-post">
        </form>
    </div>
{% endblock %}