<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <div class=" container max-mobile">
        <h1>Lag et nytt passord:</h1>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                <input type="password" name="new_password1" required="" id="id_new_password1">
                <label for="id_new_password1">Nytt passord</label>
            </div>
            <div class="input-field">
                <input type="password" name="new_password2" required="" id="id_new_password2">
                <label for="id_new_password2">Gjenta passordet</label>
            </div>
            <button class="button cta" type="submit">Bytt passordet</button>
        </form>
    </div>
{% endblock %}