{% extends 'base.html' %} 
{% block content %}

<div id="article" class="grid two-column-grid">
    <div class="left">
        {% if article.image %}
        <img src="{{ article.image.url }}" alt=""> 
        {% endif %}
    </div>
    <div class="right">
        <a class="tilbake" href="{% url 'wiki' %}">Tilbake</a>
        <h1>{{ article.title }}</h1>
        <p class="content-markdown">{{ article.text }}</p>
    </div>
</div>

{% endblock content %}

<!-- JAVASCRIPT -->
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>
<script>
    $(document).ready(function() {
        marked.setOptions({sanitize: true, tables: true, baseUrl: "../"});
        let content = $('.content-markdown');
        console.log(content.text());
        let markedContent = marked(content.text());
        console.log(markedContent);
        content.html(markedContent);

    });
</script>
{% endblock javascript %}