{% extends 'base.html' %} 
{% load static %}

{% block page_title %}Ny artikkel{% endblock page_title %}


{% block content %}
{% include 'components/navbar.html' %}
<div class="container--margin-bottom container nav article" id="create-article">
    <form id="new-article-form" method="POST" > <!-- Include for images: enctype="multipart/form-data" -->
            {% csrf_token %}
            {{ form.non_field_errors}}
            <div class="text-editor">
                <div class="button-row">
                    <ul>
                        <li title="Bold-tekst" id="format-bold"><i class="material-icons">format_bold</i></li>
                        <li title="Italic-tekst" id="format-italic"><i class="material-icons">format_italic</i></li>
                        <li title="Mellomtittel" id="format-title"><i class="material-icons">format_size</i></li>
                        
                        <li title="Sett inn bilde" id="format-image"><i class="material-icons">image</i></li>
                        <li title="Sett inn link" id="format-link"><i class="material-icons">insert_link</i></li>
                        <li title="Sett in sitat" id="format-quote"><i class="material-icons">format_quote</i></li>
                        <li title="Sett inn kodesnutt" id="format-code"><i class="material-icons">code</i></li>
            
                        <li title="Punktliste" id="format-list-bullet"><i class="material-icons">format_list_bulleted</i></li>
                        <li title="Numerert liste" id="format-list-number"><i class="material-icons">format_list_numbered</i></li>
                        <li title="Tabell" id="format-table"><i class="material-icons">table_chart</i></li>
                        <a href="#title">Preview</a>
                    </ul>
                </div>
                {{ form.title }}
                <span>{{ form.title.errors}}</span>
                {{ form.introduction }}
                <span>{{ form.introduction.errors}}</span>
                {{ form.body_text }}
                <span>{{ form.body_text.errors}}</span>
            </div>
            <h1 id="title" class="article__title"></h1>
            <p class="article__introduction"></p>
            <div class="markdown-preview"></div>
            
            <div type="submit" class="article__submit" onclick="document.getElementById('new-article-form').submit()"><i class="material-icons">save</i>Lagre</div>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>
    <!-- Auto expands the textarea to fit all its contents -->
    <script src="{% static 'js/autoExpandingTextArea.js' %}"></script>
    <!-- JS to insert markdown with buttons -->
    <script src="{% static 'js/wiki/textEditor.js' %}"></script>
{% endblock javascript %}