{% load static %}

<div class="text-editor">
    <div class="button-row">
        <ul>
            <li id="format-bold"><i class="material-icons">format_bold</i></li>
            <li id="format-italic"><i class="material-icons">format_italic</i></li>
            <li id="format-size"><i class="material-icons">format_size</i>
                <ul>
                    <li>H1</li>
                    <li>H2</li>
                    <li>H3</li>
                    <li>H4</li>
                    <li>H5</li>
                    <li>H6</li>
                </ul>
            </li>

            <li id="format-link"><i class="material-icons">insert_link</i></li>
            <li id="format-quote"><i class="material-icons">format_quote</i></li>
            <li id="format-code"><i class="material-icons">code</i></li>

            <li id="format-list-bullet"><i class="material-icons">format_list_bulleted</i></li>
            <li id="format-list-number"><i class="material-icons">format_list_numbered</i></li>
        </ul>
    </div>
    <textarea placeholder="Tekst..." name="" id="" rows="10"></textarea>
</div>