{% extends 'base.html' %} {% block content %}

<div id="wiki-page">

    <h1>WTF</h1>
    {% if request.user.is_authenticated %}
    <a href="{% url "new-article" %}">Legg til ny</a>
    {% endif %}
    <div>
        <h2>FYI</h2>
        <ul>
            {% for fyi in FYI_article %}
                <li><a href="/wiki/{{ fyi.slug }}">{{fyi.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>LOL</h2>
        <ul>
                {% for lol in LOL_article %}
                <li><a href="/wiki/{{ lol.slug }}">{{lol.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}