{% extends 'base.html' %} 
{% load staticfiles %}

{% block page_title %}Wiki{% endblock page_title %}

{% block content %}
{% include 'navbar.html' %}
<div  class="container--nav container--margin-bottom" id="wiki-page">
    <div class="wiki-search">
        <input id="search-field" type="text" placeholder="Søk...">
        <i class="material-icons">search</i>
    </div>
    <div class="all-articles">
        {% for article in articles %}
        <a href="{% url 'article' article_slug=article.slug%}" class="article-preview initial-article">
            <h4>{{ article.title }}</h4>
            {% if article.introduction %}<p>{{ article.introduction }}</p>{% endif %}
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>
<!-- <script src="{% static 'js/wiki/masonryGrid.js' %}"></script> -->
<script src="{% static 'js/wiki/wikiSearchEngine.js' %}"></script>
{% endblock javascript %}