/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'sweden_sansbold';
  src: url("../fonts/swedensansbold-webfont.eot");
  src: url("../fonts/swedensansbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/swedensansbold-webfont.woff2") format("woff2"), url("../fonts/swedensansbold-webfont.woff") format("woff"), url("../fonts/swedensansbold-webfont.ttf") format("truetype"), url("../fonts/swedensansbold-webfont.svg#sweden_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sweden_sansregular';
  src: url("../fonts/swedensans-webfont.eot");
  src: url("../fonts/swedensans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/swedensans-webfont.woff2") format("woff2"), url("../fonts/swedensans-webfont.woff") format("woff"), url("../fonts/swedensans-webfont.ttf") format("truetype"), url("../fonts/swedensans-webfont.svg#sweden_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

/* Setting Sweden sans as font */
body,
input,
textarea {
  font-family: "sweden_sansregular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  line-height: 1.5em;
}

p.paragraph {
  max-width: 63ch;
}

input,
textarea {
  font-size: 1rem;
}

nav#main-navigation {
  padding: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
}

@media screen and (min-width: 800px) {
  nav#main-navigation #hamburger {
    display: none;
  }
}

nav#main-navigation ul {
  position: relative;
}

@media screen and (max-width: 800px) {
  nav#main-navigation ul {
    display: none;
  }
}

nav#main-navigation ul li {
  margin-right: 2rem;
  cursor: pointer;
  list-style: none;
  display: inline;
  position: relative;
}

nav#main-navigation ul li a {
  color: #000;
}

nav#main-navigation ul #bar {
  background-color: #FFF49C;
  position: absolute;
  top: 10px;
  height: 10px;
  width: 10px;
  -webkit-transition: left 200ms ease-in-out, background-color 200ms ease-in-out, width 200ms ease-in-out;
  transition: left 200ms ease-in-out, background-color 200ms ease-in-out, width 200ms ease-in-out;
}

nav#main-navigation ul #bar.color1 {
  background-color: #FFF49C;
}

nav#main-navigation ul #bar.color2 {
  background-color: #E84C4C;
}

nav#main-navigation ul #bar.color3 {
  background-color: #47A0BC;
}

nav#main-navigation ul #bar.color4 {
  background-color: #FFF49C;
}

nav#main-navigation ul #bar.color5 {
  background-color: #95B4BC;
}

nav#main-navigation ul #user {
  float: right;
  position: relative;
}

nav#main-navigation ul #user:hover .dropdown-content {
  display: block;
}

nav#main-navigation ul #user .dropdown-content {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 1rem;
  right: 0;
  width: 100%;
}

nav#main-navigation ul #user .dropdown-content li {
  text-align: right;
  margin: 1rem 0 0;
  width: 100%;
}

nav#main-navigation ul #login {
  float: right;
}

a {
  text-decoration: none;
}

p a:not([type="button"]) {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-family: inherit;
  position: relative;
  -webkit-transition: color 150ms 50ms ease-in-out;
  transition: color 150ms 50ms ease-in-out;
  overflow: hidden;
}

p a:not([type="button"]), p a:not([type="button"]):visited {
  color: #0093BC;
}

p a:not([type="button"])::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  z-index: -1;
  background-color: #0093BC;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

p a:not([type="button"]):hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a[type="button"] {
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.11);
  text-decoration: none;
  color: #000;
}

#hamburger {
  cursor: pointer;
  position: absolute;
  height: 28px;
  width: 40px;
  top: 2rem;
  right: 2rem;
}

#hamburger .bar {
  position: absolute;
  right: 0;
  width: 40px;
  height: 4px;
  background-color: #0093BC;
  border-radius: 2px;
}

#hamburger .bar:first-child {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#hamburger .bar:nth-child(2) {
  width: 30px;
  margin-left: 10px;
  top: 12px;
  margin-right: -2px;
}

#hamburger .bar:last-child {
  width: 35px;
  top: 24px;
  margin-left: 5px;
  -webkit-transform-origin: 40px 0;
          transform-origin: 40px 0;
}

#hamburger .bar.open:first-child {
  -webkit-transform: translateX(7px) rotate(45deg);
          transform: translateX(7px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.15s 0.15s;
  transition: -webkit-transform 0.15s 0.15s;
  transition: transform 0.15s 0.15s;
  transition: transform 0.15s 0.15s, -webkit-transform 0.15s 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hamburger .bar.open:nth-child(2) {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.15s, opacity 50ms 0.15s;
  transition: top 0.15s, opacity 50ms 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hamburger .bar.open:last-child {
  top: 0;
  -webkit-transform: translateX(-7px) rotate(-45deg);
          transform: translateX(-7px) rotate(-45deg);
  -webkit-transition: 0.15s, width 0.15s, -webkit-transform 0.15s 0.15s;
  transition: 0.15s, width 0.15s, -webkit-transform 0.15s 0.15s;
  transition: 0.15s, transform 0.15s 0.15s, width 0.15s;
  transition: 0.15s, transform 0.15s 0.15s, width 0.15s, -webkit-transform 0.15s 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
  margin-left: 0;
}

#hamburger .bar.closed:first-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hamburger .bar.closed:nth-child(2) {
  top: 12px;
  opacity: 1;
  -webkit-transition: top 0.15s 0.15s, opacity 50ms 0.15s;
  transition: top 0.15s 0.15s, opacity 50ms 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hamburger .bar.closed:last-child {
  top: 24px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 35px;
  margin-left: 5px;
  -webkit-transition: 0.15s 0.15s, width 0.15s, -webkit-transform 0.15s;
  transition: 0.15s 0.15s, width 0.15s, -webkit-transform 0.15s;
  transition: 0.15s 0.15s, transform 0.15s, width 0.15s;
  transition: 0.15s 0.15s, transform 0.15s, width 0.15s, -webkit-transform 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tilbake {
  position: relative;
  padding-left: 2rem;
  color: #000;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.tilbake:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.tilbake::before {
  content: '';
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  top: 5px;
  left: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.tilbake::after {
  content: '';
  background-color: #000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.two-column-grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.four-column-grid {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-box {
  display: -ms-inline-grid;
  display: inline-grid;
}

#landing-page {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 780px) {
  #landing-page .square {
    width: 100%;
    height: 50%;
  }
  #landing-page .row {
    height: 90vh;
    width: 100%;
  }
}

@media screen and (min-width: 780px) {
  #landing-page #student,
  #landing-page #prosjekter,
  #landing-page #bedrift,
  #landing-page #kontakt {
    height: 100%;
  }
  #landing-page #student.active {
    width: 66%;
  }
  #landing-page #student.blur {
    width: 56%;
  }
  #landing-page #prosjekter.active {
    width: 44%;
  }
  #landing-page #prosjekter.blur {
    width: 34%;
  }
  #landing-page #bedrift.active {
    width: 57%;
  }
  #landing-page #bedrift.blur {
    width: 47%;
  }
  #landing-page #kontakt.active {
    width: 53%;
  }
  #landing-page #kontakt.blur {
    width: 43%;
  }
  #landing-page .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 50vh;
    width: 100%;
  }
  #landing-page .row.active {
    height: 55vh;
  }
  #landing-page .row.blur {
    height: 45vh;
  }
  #landing-page #student, #landing-page #prosjekter, #landing-page #bedrift, #landing-page #kontakt, #landing-page .row {
    -webkit-transition: width 200ms ease-in-out, height 200ms ease-in-out;
    transition: width 200ms ease-in-out, height 200ms ease-in-out;
  }
}

#landing-page #student {
  background-color: #E84C4C;
  width: 61%;
}

#landing-page #prosjekter {
  background-color: #FFF49C;
  width: 39%;
}

#landing-page #bedrift {
  background-color: #0093BC;
  width: 52%;
}

#landing-page #kontakt {
  background-color: #fff;
  width: 48%;
}

#project-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
}

@media screen and (max-width: 480px) {
  #project-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: calc(100vh / 3);
  }
}

@media screen and (min-width: 480px) {
  #project-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc(100vh / 3);
  }
}

@media screen and (min-width: 960px) {
  #project-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(100vh / 3);
  }
}

#project-grid .project-image {
  position: relative;
  max-width: none;
  border: 2px solid white;
  background-color: #E84C4C;
  overflow: hidden;
  cursor: pointer;
}

#project-grid .project-image:hover .description {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#project-grid .project-image .description {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: white;
  width: 60%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#project-grid .project-image .description h3, #project-grid .project-image .description p {
  padding: 1rem;
}

#project-grid .project-image .description h3 {
  font-size: 2rem;
}

#project-grid .project-image .description p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#project-grid .project-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 960px) {
  #project-grid .project-image:nth-child(22n+1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  #project-grid .project-image:nth-child(22n+5) {
    grid-row: span 2;
  }
  #project-grid .project-image:nth-child(22n+9) {
    grid-column: span 2;
  }
  #project-grid .project-image:nth-child(22n+14) {
    grid-column: span 2;
    grid-row: span 2;
  }
  #project-grid .project-image:nth-child(22n+15) {
    grid-row: span 2;
  }
  #project-grid .project-image:nth-child(22n+22) {
    grid-column: span 2;
  }
}

#event-page {
  margin-top: 22px;
}

#event-page .beskrivelse {
  padding: 87px 10% 0;
  width: 60%;
  height: 120vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#event-page .beskrivelse h1 {
  margin-top: 87px;
}

#event-page .bilde {
  position: fixed;
  width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
}

#event-page .bilde img {
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#event-page .signup {
  position: fixed;
  width: 45%;
  bottom: 70px;
  left: 20%;
  padding: 2rem;
  background-color: #47A0BC;
  color: white;
  font-size: 1.5rem;
}

#error {
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 2rem;
}

#leo-snake {
  position: absolute;
  top: 0;
  left: 0;
}

#leo-snake__score {
  display: none;
}

#leo-snake__score div {
  position: absolute;
  z-index: 10;
}

#leo-snake__score div:first-child {
  font-size: 1.2rem;
}

#leo-snake__score div::last-child {
  font-size: 0.8rem;
}

#leo-snake__score #score {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

#leo-snake__score #highscore {
  bottom: 2%;
  left: 2%;
}

#leo-snake__score div span {
  font-size: 1.1em;
}

#create-article form #id_title, #create-article form textarea {
  display: block;
  border: none;
  outline: none;
}

#create-article form #id_title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

#create-article form .right {
  margin-top: 20%;
}

#create-article form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #47A0BC;
  margin-right: 6rem;
  min-height: 100vh;
}

#create-article form .left #id_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#create-article form .left #id_image + label {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 1rem;
}

#create-article form textarea {
  width: 63ch;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

#create-article form select {
  border-radius: 0;
}

#create-article form input[type="submit"] {
  margin-bottom: 5rem;
}

#wiki-page {
  margin-top: 5%;
}

#wiki-page #categories {
  margin-top: 3rem;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

#wiki-page #categories::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #000;
}

#wiki-page h1 {
  font-size: 5rem;
  text-align: center;
}

#wiki-page #new-article-button {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 5rem;
  padding: 0.5rem 1rem;
}

#wiki-page ul li {
  line-height: 1.8rem;
  text-decoration: none;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

#wiki-page ul li a, #wiki-page ul li a:visited {
  color: #0093BC;
}

#wiki-page #fyi {
  text-align: right;
}

#wiki-page #fyi ul li:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

#wiki-page #lol {
  text-align: left;
}

#wiki-page #lol ul li:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#article h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

#article p {
  width: 63ch;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

#article .right {
  margin-top: 40%;
}

#article .tilbake {
  position: absolute;
  top: 4rem;
  left: 50%;
}

#article .left {
  margin-right: 6rem;
}

#article .left img {
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */