{% extends "base.html" %}

{% load static %}

{% block page_title %}Om oss{% endblock page_title %}

{% block content %}
{% include "components/navbar.html" %}
<div id="about" class="container nav">
    <h1>Om leonardo</h1>
    <p>På Gløshaugen er det en lang tradisjon for linjeforeninger, der Leonardo er en av de yngste og ble opprettet i 1994, samme året som Institutt for Produktdesign ble etablert.</p>
    <img src="{% static 'img/about2.jpg' %}" alt="Leonardo linjeforening er linjeforeningen til studentene ved Industriell design">
    <p>Formålet med linjeforeningen er å skape et bra sosialt tilbud til studentene i og utenfor skoletiden. Ditt første møte med Leonardo er under Fadderperioden som arrangeres sammen med årets 2. klassinger. I løpet av fadderperioden vil du bli kjent med dine nye klassekamerater, og ellers folk fra de andre klassene. Fadderperioden er noe du forhåpentligvis kommer til å huske tilbake på med et smil og som en fantastisk start på livet på IPD. Utover i året fortsetter tilbudene. Blant annet immatrikuleringsball for første klasse, styrevalg, temafester, bedriftspresentasjoner og workshops.</p>

    <section>
        {% for kontaktperson in kontaktpersons  %}
            <div class="kontaktperson">
                <img src="{{kontaktperson.image.url}}"
                        onmouseover="this.src='{{kontaktperson.hoverImage.url}}';"
                        onmouseout="this.src='{{kontaktperson.image.url}}';">
                <div class="kontaktdetails">
                    <div class = "caption gray" style="margin-bottom:8px;">{{kontaktperson.name}}</div>
                    <div class="stilling">{{kontaktperson.stilling}}</div>
                    <div class="email">{{kontaktperson.email}}</div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}
