{% extends "base.html" %}

{% load static %}
{% block page_title %}Leie Soundbox{% endblock page_title %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="container nav" id="utleie">
    <h1>Leie Soundboks</h1>
    <img src="{% static 'img/soundbox.png' %}" alt="Soundbox 2">

    <p>Trenger du lyd til et arrangement? Ikke bekymre deg, for slikt støtter Leonardo meget gjerne med!</p>
    <p>Leonardo leier ut en Soundboks 3.</p>
    <p>Soundboksen har et maks volum på 126dB, som kan sammenlignes med å stå på første rad på en konsert. Den er ikke vanntett, men er bygd for å tåle både støt, regn og tidvis ølsøl. Den er lagd for å brukes. Høyttaleren veier bare 15kg, har gode håndtak og kan derfor lett transporteres.</p>
    <br>
    <p>Dersom du ønsker å leie den, ta kontakt med Leonardo-leder Bjørn på mail:</p>
    <p>ilpresidente.leonardo@gmail.com</p>
    <br>

    <h3>Maling av soundboksen</h3>
    <br>
    <p>Hvis du ønsker å male på gitteret til soundboksen, er dette fullt mulig (og kult!). Akkurat nåm er den malt av styret i Leonardo. Gitteret kan enkelt skrus av og deretter males på. Her er det bare kreativiteten som setter en stopper. Maling må man skaffe selv.</p>
    <br>

    <h3>Priser:</h3>
    <br>
    <ul>
        <li>Linjeforening/lag/organisasjon: 400kr for 1 dag, 100kr for hver påfallene dag</li>
        <li>Privatperson: 400kr for 1 dag, 100kr for hver påfallene dag</li>
        <li>Interne Leonardo-arrangement: Gratis</li>
    </ul>
</div>

{% endblock content %}