{% extends "base.html" %}

{% block page_title %}Vedtekter{% endblock page_title %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="container nav" id="vedtekter">
    <h1>Vedtekter for Leonardo</h1>

    Siste endringer vedtatt: <em>27.09.2018</em>

    <ol>
        <li>Struktur
            <ol>
                <li>Generell struktur</li>
                <li>Styrestruktur</li>
            </ol>
        </li>
        <li>Stillingsbeskrivelser
            <ol>
                <li>Leder</li>
                <li>Nestleder</li>
                <li>Bedriftssjef</li>
                <li>Mediesjef</li>
                <li>Redaktør</li>
                <li>Hussjef</li>
                <li>Arrangementsjef</li>
                <li>Faddersjef</li>
                <li>Avtroppende og påtroppende styremedlemmer</li>
                <li>Mentor</li>
                <li>Styrets felles oppgaver</li>
                <li>Tillitskontakt</li>
                <li>Gallastilling</li>
            </ol>
        </li>
        <li>Møter
            <ol>
                <li>Hyppighet</li>
                <li>Innkalling</li>
                <li>Referat</li>
            </ol>
        </li>
        <li>Generalforsamling
            <ol>
                <li>Gjennomføring</li>
                <li>Innkalling</li>
                <li>Årsberetning</li>
                <li>Valgprosedyrer
                    <ol>
                        <li>Generelt, styrevalg</li>
                        <li>Oppmelding til valg</li>
                        <li>Bindingstid</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Økonomi
            <ol>
                <li>Budsjett</li>
                <li>Økonomisk rapporteringsplikt</li>
                <li>Medlemskontigent</li>
            </ol>
        </li>
        <li>Linjeforeningsopptak</li>
        <li>Komiteer</li>
    </ol>
    <ol>
        <li>
            <h2>Struktur</h2>
            <ol>
                <li>
                    Generell struktur
                    Leonardo Linjeforening driftes av et styre, Leonardo-styret (“Il Console”), samt underliggende
                    komiteer. I tillegg er interessegruppene Kontur, Dekor og Fokus underlagt organisasjonen.
                </li>
                <li>
                    <p>
                        Styrestruktur
                        Leonardo-styret (”Il Console”) har overordnet administrativt ansvar for drift av
                        linjeforeningen, og består av:

                        (Sortert etter rang)

                        Leder
                <li>Il Presidente</li>
                Nestleder - Il Vice Presidente
                Bedriftssjef - L’Affari
                Mediesjef - Il Responsabile Publisitario
                Redaktør - Direttore Artistico
                Hussjef - Il Vernissageur:
                Arrangementsjef - Il Evento Guida
                Faddersjef - Il Prima

                Mentor - Il Mentore
                </p>
        </li>
    </ol>
    </li>
    <li>
        <h2>Stillingsbeskrivelser</h2>
        <ol>
            <li><b>Leder</b>
                <p>
                    <ul>
                        <li>Overordnet ansvar, administrativt og økonomisk.</li>
                        <li>Kontakt- og informasjonsansvar overfor instituttledelsen og tillitsvalgte.</li>
                        <li>Kontakt- og informasjonsansvar overfor media i tilfeller angående Leonardos drift.</li>
                        <li>Kontakt- og informasjonsansvar overfor Designhjelpen og Ekskursjonsgruppen for 3.
                            klasse, og interessegruppene til Leonardo</li>
                        <li>Ansvar for å kalle inn til, og gjennomføre styremøter.</li>
                        <li>Formelt ansvar for Leonardos profil, nettside og kommunikasjon utad og innad.</li>
                        <li>Lede i henhold til Leonardos vedtekter og styrets retningslinjer.</li>
                        <li>Er en motivator for Leonardos medlemmer.</li>
                        <li>Sørger for at styrevalg og allmøter gjennomføres og informeres om i tråd med
                            vedtektene.</li>
                        <li>Ivaretar god kontakt og samarbeid med andre linjeforeninger ved NTNU, blant annet
                            gjennom pliktig
                            oppmøte ved
                            Linjeledermøter og Kontrollenhetsmøter.</li>
                        <li>Sørger for at styrets epostbruk foregår på en ansvarlig og profesjonell måte.</li>
                        <li>Ansvar for å holde alle styrestillinger besatt. Ved permisjon eller sykdom, er det
                            leders ansvar å
                            finne en
                            riktig erstatter etter rådføring med avtroppende styremedlem.</li>
                        <li>år inn i rollen som Tillitskontakt etter endt lederverv (se 2.11).</li>
                        <li>Ansvar for å drifte Leonardos kalender.</li>
                    </ul>
                </p>
            </li>
            <li>Nestleder
                <ul>
                    <li>Første stedfortreder for Leder.</li>
                    <li>Ansvarlig for praktisk økonomisk gjennomføring; herunder føring av budsjett og regnskap, inn og
                        utbetalinger.</li>
                    <li>Ansvarlig for å levere skattemeldinger på vegne av Leonardo.</li>
                    <li>Rapportere til styret om Leonardos økonomiske tilstand minst én (1) gang i kvartalet.</li>
                    <li>Ansvarlig for å holde orden over Leonardos eldre regnskapsarkiv på kontoret og på nett.</li>
                    <li>Postansvarlig for Leonardo.</li>
                    <li>Holde seg oppdatert på relevant lovverk, bla. gjennom momskurs.</li>
                    <li>Kontakt med Brønnøysundregisteret</li>
                    <li>Ansvar for å sette seg inn i muligheter for økonomisk støtte, og sørge for at det blir søkt om
                        slik støtte innen fristene.</li>
                    <li>Ansvar for å koordinere kontakt med interessegrupper, herunder søknader om støtte.</li>
                    <li>Har et overordnet ansvar som kontrollorgan for ansvarlig drift og ledelse i styret.</li>
                </ul>
            </li>
            <li>Bedriftssjef
                <ul>
                    <li>Andre stedfortreder for Leder.</li>
                    <li>Oppretter og ivaretar kontakt med bedrifter.</li>
                    <li>Oppdaterer bedriftlisten.</li>
                    <li>Fører planlagte bedriftsarrangementer inn i Leonardos kalender.</li>
                    <li>Koordinerer gjennomføring av bedriftspresentasjoner, workshops og tilsvarende arrangementer.
                    </li>
                    <li>Ansvarlig for å ha oversikt over varebeholdningen knyttet til bedriftsbesøkene.</li>
                    <li>Gjennomføre arbeidsmarkedsundersøkelse annenhver vår med bedriftskomitéen.</li>
                    <li>Ansvarlig for å finne og opprettholde samarbeidsavtaler/sponsoravtaler til Leonardo
                        Linjeforening.
                        Styrets skjønn avgjør om organisasjonen er best tjent med én større samarbeidspartner eller
                        flere små.</li>
                    <li>Ansvarlig for å delta på Linjesamarbeidsmøter.</li>
                    <li>Delta på Kontrollenhetsmøter minst én (1) gang ila. styrevervet og ved behov.</li>
                </ul>
            </li>
            <li>Mediesjef
                <ul>
                    <li>Redaksjonelt og teknisk ansvarlig for nettsiden industrielldesign.com, herunder oppdatering og
                    </li>
                    vedlikehold.
                    <li>Ansvarlig for at Leonardos grafiske profil blir fulgt internt og eksternt.</li>
                    <li>Ansvarlig for å etablere og følge opp kontakt med media i sammenheng med promotering av</li>
                    linjeforeningen.
                    <li>Ansvarlig for å utforme og produsere plakater og andre trykksaker for Leonardo.</li>
                    <li>Ansvarlig for å promotere linjeforeningen og dens medlemmer, innad og utad. Herunder ligger et
                        ansvar
                    </li>
                    <li>for å fremlegge promoteringsalternativer som er aktuelle og riktige for Leonardos budskap og
                        identitet.
                    </li>
                </ul>
            </li>
            <li>Redaktør
                <ul>
                    <li>Ansvarlig for at linjemagasinet TheSign lanseres to ganger i semesteret.</li>
                    <li>Ansvarlig for å bestille trykking av linjeforeningsmagasinet TheSign.</li>
                    <li>Ansvarlig for at det blir søkt om støttemidler i forbindelse med trykk innen de aktuelle
                        fristene.</li>
                </ul>
            </li>
            <li>Hussjef
                <ul>
                    <li>Planlegger festarrangementer ved instituttet og er ansvarlig for koordinering og gjennomføring
                        av</li>
                    disse.
                    <li>Ansvar for bongsalg, og regnskapsføring av all virksomhet som er knyttet til bongsalg og innkjøp
                        til
                    </li>
                    bar.
                    <li>Ansvarlig for at Retningslinjer for fest på IPD (Vedlegg 1) blir fulgt</li>
                    <li>Søker universitetet/instituttet om tillatelse til bruk av lokaler ved fester.</li>
                    <li>Skal ha oversikt over varebeholdning knyttet til festene.</li>
                    <li>Fører planlagte fester inn i Leonardos kalender.</li>
                    <li>Ansvar for kjøkkenet i 2. etasje, samt kontoret i 3. etasje.</li>
                    <li>Bistår Faddersjef med å arrangere immatrikuleringsball i løpet av august/september, ved behov.
                    </li>
                    <li>Skal arrangere Halloween-fest.</li>
                    <li>Skal fungere som kontaktperson/koordinator for arrangementet Gravøl/IPD-igjen på vårsemesteret;
                        et
                        samarbeid
                        med 5. årstrinn.</li>
                </ul>
            </li>

            <li>Arrengementsjef
                <ul>
                    <li>Har ansvar for at det planlegges og gjennomføres en Åre-tur for studentene på ID hvert år.</li>
                    <li>Har ansvar for å arrangere julebord for medlemmene.</li>
                    <li>Har ansvar for at det hvert år planlegges og gjennomføres et alkoholfritt arrangement i
                        samarbeid med Arkitektstudentenes Broderskab.</li>
                    <li>Planlegger og gjennomfører eksterne arrangement i Leonardos regi.</li>
                    <li>Ansvar for Leonardos sportsutstyr.</li>
                    <li>Opprette og ivareta kontakt med kursholdere, samt koordinere gjennomføring av kurs.</li>
                    <li>Føre kurs og arrangementer/ekskursjoner inn i Leonardos kalender.</li>
                    <li>Planlegge og gjennomføre stipendquiz.</li>
                </ul>
            </li>
            <li>Faddersjef
                <ul>
                    <li>Styremedlem som representerer 1. klasse.</li>
                    <li>Skal ved behov kunne bistå andre styremedlemmer i deres arbeid.</li>
                    <li>Fadderansvarlig i kommende fadderperiode, med overordnet ansvar for at nye studenter (inkludert
                        2-årig master og utvekslingsstudenter) får riktig informasjon og varierte arrangementtilbud i de
                        første ukene på studiet. Det innebærer i første omgang å stifte en fadderkomité, verve faddere,
                        og sende ut informasjon til nye studenter i sommerferien. Videre er Faddersjef ansvarlig under
                        selve fadderukene, og sørger for at alt opplegg organiseres skikkelig og oppleves inkluderende.
                    </li>
                    <li>Ansvarlig for å planlegge og koordinere linjeforeningsopptak i henhold til vedtektene (se
                        segment 6).
                    </li>
                    <li>Ansvarlig for å arrangere immatrikuleringsball i løpet av august/september.</li>
                    <li>Sekretær ved styremøter.</li>
                    <li>Daljeansvarlig for Immballet, det vil si for produsering av Leonardodaljer for alle nye
                        studenter.</li>
                    <li>Ansvar for at det opprettes en kontaktperson for utvekslingsstudenter som passer på at disse får
                        informasjon om Leonardo Linjeforening.</li>
                    <li>Ansvar for at alle nye studenter blir inkludert i Leonardos informasjonskanaler, herunder</li>
                    Facebookgruppe og
                    mailinglister.
                    <li>Koordinere en komprimert fadderperiode for utvekslingsstudenter både på høst
                    <li>og vårsemesteret.</li>
                </ul>
            </li>
            <li>Påtroppende og avtroppende styremedlemmer
                <ul>
                    <li>Fra generalforsamling til årsskiftet får nyvalgte styremedlemmer tittelen påtroppende,og
                        fjorårets
                        styremedlemmer avtroppende. Etter årsskiftet blir avtroppende styremedlemmer mentorer, og
                        påtroppende
                        styremedlemmer blir ordinære styremedlemmer.</li>
                    <li>Avtroppende styremedlemmer har ansvar for å overføre viktige erfaringer knyttet til sin
                        respektive
                        rolle til påtroppende styremedlemmer.</li>
                    <li>Det avtroppende styret skal møte opp på styremøtene første måneden etter generalforsamling, og,
                        til
                        den grad det er mulig, i perioden fram til årsskiftet. Det avtroppende styret har ansvar for de
                        første
                        to møtene.
                    </li>
                </ul>
            </li>
            <li>Mentor
                <ul>
                    <li>Overlappende verv for avtroppende styremedlemmer</li>
                    <li>Mentoren skal fungere som en veileder og støttespiller for påtroppende styremedlem med samme
                        verv, og
                    </li>
                    er
                    ansvarlig for at erfaringsoverføring skjer i tilstrekkelig grad for begge parter, eksempelvis
                    gjennom
                    erfaringsskriv og personlig samtale.
                    <li>Vervet varer i ett semester, fra og med vedkommende går av som avtroppende styremedlem.</li>

                    <li>Mentorstillingen er en gallastilling (se 2.12).</li>
                </ul>
            </li>
            <li>Styrets felles oppgaver
                <ul>
                    <li>Kontinuerlig vurdere organisasjonens arbeidsmengde og ansvarsfordelig. Styret kan ved behov for
                    </li>
                    ekstraordinær
                    arbeidsinnsat, opprette kommisjoner (midlertidige arbeidsgrupper) som skal utføre et spesifisert
                    oppdrag. Slike
                    kommisjoner kan være helt eller delvis uavhengige av styret, alt etter behov (f.eks.
                    Jubileumskommité).
                    <li>Til enhver tid føre erfaringsskriv og dokumentere avvik.</li>
                    <li>Komme med innstillinger til komitésammensetning og -størrelse; holde opptak til komiteene.</li>
                    <li>Opprette en Valgkomité i forkant av styrevalg (jfr. punkt 4.4.2)</li>
                    <li>Styret skal delta på minst tre (3) dager under fadderuken, men oppfordres til å delta på så mye
                        som</li>
                    mulig.
                    <li>Styret skal utlyse folkeprisen ‘LeonardWho’ hver vår, slik at denne kan annonseres ved 17.</li>
                    mai-arrangementet
                    til Leonardo.
                    <li>Styret skal dele ut priser for Ildsjel og Æresmedlem, såfremt det er kandidater som har gjort
                        seg</li>
                    fortjent til
                    disse.
                    <li>Styret skal arrangere jubileum for Leonardo hvert femte år (fra grunnleggelsen i 1994).</li>
                    <li>Styret skal regelmessig holde åpent kontor for Leonardos medlemmer.</li>
                    <li>Styret er ansvarlig for å arrangere 17. mai-feiring på Instituttet, og lage daljer til komitéene
                        og</li>
                    kåringene
                    i sammenheng med feiringen.
                    <li>Ansvarlig for å vedlikeholde og produsere egne styrebånd og styredaljer.</li>
                    <li>Informere alle gallastillinger om arrangementer de er invitert på.</li>
                </ul>
            </li>
            <li>Tillitskontakt
                <ul>
                    <li>Være en anonymiserende kontaktperson som fungerer som et talerør mellom medlemmer av Leonardo og
                    </li>
                    Leonardo-styret.
                    <li>Sørge for at Leonardo-styret tar opp og finner løsninger på tilbakemeldinger som er kommet fra
                    </li>
                    Leonardos
                    medlemmer.
                    <li>Overlappende verv for avtroppende leder, Il Presidente, av Leonardo Linjeforening, men hvor</li>
                    Leonardo-styret
                    kan utnevne en ekstern Tillitskontakt hvis omstendigheter gjør at avtroppende leder ikke kan være
                    Tillitskontakt.
                    <li>Vervet varer i ett (1) år, fra og med vedkommende går av som styremedlem og kommer i tillegg til
                    </li>
                    mentorstilling.
                </ul>
            </li>

            <li>Gallastilling
                <ul>
                    <li>Stilling hvor vedkommende får delta på galla-arrangement som stedfortreder for styret.</li>
                </ul>
            </li>
    </li>
    </ol>
    <li>
        <h2>Møter</h2>
        <ol>
            <li>Hyppighet<br>
                Styret gjennomfører møter minst hver annen uke gjennom hele semesteret.</li>
            <li>Innkalling
                Møteinnkalling gjøres av Leder. Innkalling skal inneholde saksliste og beregnet varighet for møtet.
                Denne
                møteinnkallelsen skal utsendes til styrets medlemmer senest tre dager før møtedagen.</li>
            <li>Referat
                Det skal føres referater fra styrets møter. Relevante beslutninger og aktiviteter skal informeres om
                gjennom
                månedlige nyhetsoppdateringer på Leonardos nettside og sosiale mediekanaler. Spesielle
                enkeltforespørsler om
                innsyn i møtereferater skal etterkommes.</li>
        </ol>
    </li>
    <li>
        <h2>Generalforsamling</h2>
        <ol>
            <li>Gjennomføring
                Generalforsamling skal gjennomføres på instituttet minimum én (1) gang i året (se 4.4.1). Ved behov for
                ekstraordinær generalforsamling eller annet allmøte, kan styret kalle inn til dette.</li>
            <li>Innkalling
                Ved innkalling til generalforsamling skal dette skje minimum én uke i forkant av arrangementet. Alle
                studenter
                skal motta møteinnkallelse på mail, eventuelt også instituttets ledelse om nødvendig.</li>
            <li>Årsberetning
                Ved generalforsamling med styrevalg vil det avtroppende styret fremlegge årsberetningen for foregående
                Leonardo-år.</li>
        </ol>
    </li>







    4.4 Valgprosedyrer:

    4.4.1 Generelt, styrevalg
    Innsettelse av nytt styre skjer i løpet av hver oktober. Alle styrestillinger skal da besettes.

    Generalforsamling med styrevalg er åpent for alle studenter ved ID. Alle deltakende studenter har mulighet
    til å
    avgi én stemme ved hver avstemning. Valgresultatet skal alltid følges; men ved eventuelt uavgjort resultat
    får
    valgkomiteen (se 4.4.2) en ekstra, avgjørende stemme.

    4.4.2 Oppmelding til valg
    Alle aktive Leonardo-medlemmer kan stille til valg, eller meldes opp (benkes) av andre. Dette kan gjøres
    helt
    frem til avstemningen. Det anbefales at stillingene ‘leder’ og ‘nestleder’ besettes av personer med erfaring
    fra
    Leonardo-styret eller andre styreverv i andre linjeforeninger.

    Styret skal opprette en valgkomité, bestående av avtroppende styremedlemmer og styrealumni i størrelsesorden
    tre
    til fem (3-5) personer, der ingen medlemmer ønsker å selv stille til valg. Komiteen skal sikre nyanserte
    utvalg
    av kandidater og sørge for at valget for øvrig foregår som det skal. Komiteen skal publisere en liste med
    kandidater senest 24 timer før valget, men offentliggjør ikke hvilke kandidater som er deres forslag eller
    preferanse.

    4.4.3 Bindingstid
    Bindingstiden til styret er 3 semestere år for alle styremedlemmer (se 2.9), gjeldene fra tidspunkt for
    opptak,
    med unntak av lederstillingen, Il Presidente, hvor bindingstiden er to (2) år pga. Tillitskontakt-stilling
    (se
    2.12).

    4.5 Endring i vedtekter:

    4.5.1
    Endringer i vedtekten kan kun vedtas på generalforsamling med ⅔ av stemmene i endringenes favør.

    4.5.2
    Forslag til nye vedtekter skal sendes ut sammen med innkalling til generalforsamling minst to (2) dager før
    generalforsamling, slik at alle studenter ved ID som vil lese disse får muligheten til det.

    5 Økonomi

    5.1 Budsjett
    Styret utformer budsjett for hvert valgår(oktober-september).
    Budsjettet viser fordelingen av penger mellom linjeforeningens ulike grupper og deres aktiviteter.

    5.2 Merverdiavgift
    Som følge av registrering i merverdiavgiftsregisteret, er Leonardo pliktig til å betale merverdiavgift for
    all
    avgiftspliktig omsetning.

    5.3 Økonomisk rapporteringsplikt
    På generalforsamling med styrevalg skal økonomiansvarlig legge frem regnskap for det foregående året, samt
    legge
    frem budsjettforslag for neste styreår. Andre regnskapspliktige komiteer under Leonardo plikter å gjøre det
    samme.

    5.4 Medlemskontingent
    Leonardo samler inn medlemskontingent fra de nye medlemmene det semesteret de er tatt opp. Denne
    kontingenten er
    på 300 NOK, men kan økes med opptil 20% i året hvis Leonardo ser det nødvendig.

    6 Linjeforeningsopptak
    Leonardo gjennomfører hver høst et linjeforeningsopptak for nye studenter ved ID. Dette opptaket er det
    fadderkomiteen og fadderne som organiserer, med oppfølging av Leonardo-styret. Opptaket skal gjennomføres
    før,
    eller samme dag som Leonardos immatrikuleringsball.


    7 Komiteer


    7.1
    Komitéopptak arrangeres av styret og skal finne sted ved starten av hvert høstsemester før
    generalforsamling.

    7.2
    Komitémedlemmer har bindingstid ett (1) år, i tillegg til en avtroppende periode mellom neste års
    komitéopptak
    og neste års generalforsamling.

    7.3
    Komiteene skal velge en nestleder som er stedfortreder for komitéleder på komitémøter og styremøter ved
    frafall.

    7.4
    Leder og nestleder i Leonardos komiteer er gallastillinger (se 2.12).

    7.5
    Styret kan kreve innsyn i alle komiteer, og kan møte på alle komitémøter. Styret kan også kalle inn
    komitémedlemmer til styremøtene for å få informasjon om relevante prosesser og arbeider.
</div>
</div>
{% include 'components/footer.html' %}
{% endblock content %}
