{% extends "base.html" %}
{% load days_until %}

{% block page_title %}{{job.title}}{% endblock page_title %}
{% block content %}
    {% include "components/navbar.html" %}
    <div id="job-detail" class="container nav">
        
        <div class="image">
            {% if job.image.url != null %}
            <img src="{{ job.image.url }}" alt="{{ event.short_description }}">   
            {% endif %}
        </div>
        <h2>{{ job.title }}</h2>
        {% with job.deadline|days_until as diff %}
        <p>Søknadsfrist: {{job.deadline|date:'d. F Y'  }}, om {{ diff.days }} dager</p>
        {% endwith %}
        <p class="caption"></p>
        <br>
        <p class="p-width white-space-wrap">{{job.description|linebreaks}}</p>
        {% if job.external_link_1 != null %} 
        <a href="{{job.external_link_1}}" class="button" id="job-link-button">
            <span>{{job.link_text_1}}</span>
        </a>
        {% endif %}
        {% if job.external_link_2 != null %} 
        <a href="{{job.external_link_2}}" class="button" id="job-link-button">
            <span>{{job.link_text_2}}</span>
        </a>
        {% endif %}
        {% if job.external_link_3 != null %} 
        <a href="{{job.external_link_3}}" class="button" id="job-link-button">
            <span>{{job.link_text_3}}</span>
        </a>
        {% endif %}
    </div>
{% include 'components/footer.html' %}
{% endblock content %}
