{% extends "base.html" %}
{% load days_until %}

{% block page_title %}{{job.title}}{% endblock page_title %}
{% block content %}
    {% include "components/navbar.html" %}
    <div id="job-detail" class="container nav">
        <div class="image">
            <img src="{{ job.image.url }}" alt="{{ event.short_description }}">
        </div>
        <h2>{{ job.title }}</h2>
        {% with job.deadline|days_until as diff %}
        <p>Søknadsfrist: {{job.deadline|date:'d. F Y'  }}, om {{ diff.days }} dager</p>
        {% endwith %}
        <p class="caption"></p>
        <br>
        <p class="p-width white-space-wrap">{{job.description}}</p>
    </div>
{% endblock content %}