// Colours
$dark-blue: #0093BC;
$light-blue: #47A0BC;
$red: #E84C4C;
$yellow: #FFF49C;
$gray: #95B4BC;
$light-gray: #C4CACC;
$extra-light-gray: #EEF2F3;
$white: #fff;

$link-color: $dark-blue;
$error: $red;

// Typography
$root-font-size: 18px;
$sans-serif: "sweden_sansregular", sans-serif;
$bold: "sweden_sansbold", sans-serif;
$text-color: #1a1a1a;

// Sizes
$nav-height: 64px;

// Animation
$animation-bounce: ease-in-out;
$animation-ease: ease-in-out;
$animation-duration: 200ms;
$animation-duration-short: 100ms;