.tilbake {
    position: relative;
    padding-left: 2rem;
    color: $text-color;
    transition: transform 200ms ease-in-out;

    &:hover {
        transform: translateX(5px);
    }

    &::before {
        content: '';
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        position: absolute;
        top: 5px;
        left: 0;
    
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &::after {
        content: '';
        background-color: #000;
        width: 30px;
        height: 2px;
        position: absolute;
        top: 9px;
        left: 0;
    }
}

.modal {
    display: none;
    .modal-content {
        position: fixed;
        background-color: $extra-light-gray;
        padding: 2rem;
        z-index: 101;
        width: 90%;
        max-width: 450px;
        top: 20%;

        // Horisontal centering
        left: 0;
        right: 0;
        margin: auto;

        .button {
            margin-top: 1.5rem;
            display: inline;

            &.right {
                float: right;
                margin-left: 0.5rem;
            }
            &.left {
                float: left;
                margin-right: 0.5rem;
            }
        }
    }
}

.scrim {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(#fff, 0.8);
}