nav#main-navigation {
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;

    #leo-logo svg {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    #hamburger {
        @media screen and (min-width: 800px) {
            display: none;
        }
    }
    ul {
        @media screen and (max-width: 800px) {
            display: none;
        }
        position: relative;
        li {
            margin-right: 2rem;
            cursor: pointer;
            list-style: none;
            display: inline;
            position: relative;
            a {
                color: #000;
            }
        }
        #nav-items {
            float: left;
            margin-left: 80px;
        }
        #bar {
            background-color: $yellow;
            position: absolute;
            top: 10px;
            height: 10px;
            width: 10px;
            transition: left 200ms ease-in-out, background-color 200ms ease-in-out, width 200ms ease-in-out;
            &.color0 {
                background-color: $yellow;
            }
            &.color1 {
                background-color: $red;
            }
            &.color2 {
                background-color: $light-blue;
            }
            &.color3 {
                background-color: $yellow;
            }
            &.color4 {
                background-color: $light-gray;
            }
        }
        #user {
            float: right;
            position: relative;
            &:hover .dropdown-content {
                display: block;
            }
            .dropdown-content {
                display: none;
                background-color: #fff;
                position: absolute;
                top: 1rem;
                right: 0;
                width: 100%;
                li {
                    text-align: right;
                    margin: 1rem 0 0;
                    width: 100%;
                }
            }
        }
        #login {
            float: right;
        }
    }
}