nav#main-navigation {
    padding: 2rem;
    ul {
        li {
            display: inline;
            margin-right: 2rem;

            a {
                color: #000;
            }
        }
    }
}
