$text-editor-background-color: #EAF0F2;
.text-editor {
    width: 100%;
    background-color: $text-editor-background-color;
    .button-row {
        background-color: #DFE8EB;
        padding: 0.5rem 0;
        & > ul {
            margin: 0 5%;
            li {
                list-style-type: none;
                cursor: pointer;
                display: inline;

                i {
                    color: $text-color;
                }

                i:hover {
                    background-color: $light-gray;
                }
            }
        }
        #format-size, #format-code {
            margin-right: 1rem;
        }

        #format-size {
            padding-right: 5px;
            ul {
                display: none;
            }
        }
    }

    #body-text, #editor-title, #editor-introduction {
        background-color: $text-editor-background-color;
        border: none;
        width: 90%;
        margin: 0 5%;
        border-left: 1px solid darken($color: $text-editor-background-color, $amount: 3%);
        border: none;
        outline: none;
        margin-bottom: 0.5rem;
    }

    #editor-title {
        font-size: 2rem;
        position: relative;
    }

    #editor-introduction {
        resize: vertical;
    }

    textarea#body-text {
        min-height: calc(10rem * 1.2);
        resize: vertical;
    }
}