$home-breakpoint: 780px;
$student-width: 61%;
$prosjekt-width: 100 - $student-width;
$bedrift-width: 52%;
$kontakt-width: 100% - $bedrift-width;
$expand-percent: 5%;

#landing-page {
    width: 100vw;
    height: 100vh;
    @media screen and (max-width: $home-breakpoint) {
        .square {
            width: 100%;
            height: 50%;
        }
        .row {
            height: 90vh;
            width: 100%;
        }
    }
    @media screen and (min-width: $home-breakpoint) {
        #student,
        #prosjekter,
        #bedrift,
        #kontakt {
            height: 100%;
        }

        #student.active {
            width: $student-width + $expand-percent;
        }
        #student.blur {
            width: $student-width - $expand-percent;
        }
        #prosjekter.active {
            width: $prosjekt-width + $expand-percent;
        }
        #prosjekter.blur {
            width: $prosjekt-width - $expand-percent;
        }
        #bedrift.active {
            width: $bedrift-width + $expand-percent;
        }
        #bedrift.blur {
            width: $bedrift-width - $expand-percent;
        }
        #kontakt.active {
            width: $kontakt-width + $expand-percent;
        }
        #kontakt.blur {
            width: $kontakt-width - $expand-percent;
        }
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 50vh;
            width: 100%;

            &.active {
                height: 55vh;
            }
            &.blur {
                height: 45vh;
            }
        }
        #student, #prosjekter, #bedrift, #kontakt, .row {
            transition: width 200ms ease-in-out, height 200ms ease-in-out;
        }

    }
    #student {
        background-color: $red;
        width: $student-width;
    }
    #prosjekter {
        background-color: $yellow;
        width: $prosjekt-width;
    }
    #bedrift {
        background-color: $dark-blue;
        width: $bedrift-width;
    }
    #kontakt {
        background-color: #fff;
        width: $kontakt-width;
    }
}