#homepage {

  section {
    display: block;
    height: 100vh;
    position: relative;
    padding-top: 25vh;
    padding-left: 5%;
    overflow-x: hidden;

    h1 {
      $h1: (576: 48, 1024: 64);
      font-size: least-squares-fit($h1);
      line-height: 1em;
      font-family: 'PT Serif';
    }

    h1,
    p {
      position: relative;
      display: block;
      max-width: $xxl;
      z-index: 1;
      top: 4rem;

    }

    p {
      font-size: 1.5rem;
      max-width: 70vw;
    }

    >img {
      position: absolute;
      top: 55%;
      right: -5%;
      transform: translateY(-50%);
      height: 90%;

      @media screen and (max-width: $xl) {
        right: auto;
        left: 50%;
        transform: translate(-40%, -50%);
      }
    }

    .scroll-down {
      position: absolute;
      bottom: 10vh;

      @media screen and (max-width: $xl) {
        display: none;
      }

      img {
        animation: scroll-down 3200ms ease-in-out;
        animation-delay: 1.5s;
        transform: rotate(90deg);
      }
    }
  }

  .events {
    display: grid;
    grid-gap: 1rem;

    @media screen and (min-width: $lg) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: $lg) {
      grid-template-columns: repeat(3, 1fr);

      .event:nth-child(4) {
        display: none
      }

      ;
    }

    @media screen and (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);

      .event {
        h3 {
          font-size: 1.125rem;
        }

        p {
          font-size: 0.825rem;
        }
      }

      .event:nth-child(4) {
        display: block
      }

      ;
    }

    //.event:nth-child(4n+2), .event:nth-child(4n+3) {
    //  grid-column: span 2;
    //}
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "b1 b1 b2 b3"
      "b1 b1 b4 b4"
      "b5 b6 b4 b4";
    margin-top: 6rem;

    .box {
      position: relative;
      max-width: none;
      background-color: $black;
      padding-top: 100%;
      cursor: pointer;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:nth-child(1) {
        grid-area: b1;
      }

      &:nth-child(2) {
        grid-area: b2;
      }

      &:nth-child(3) {
        grid-area: b3;
      }

      &:nth-child(4) {
        grid-area: b4;
      }

      &:nth-child(5) {
        grid-area: b5;
      }

      &:nth-child(6) {
        grid-area: b6;
      }
    }
  }
}

@keyframes scroll-down {

  0%,
  100% {
    transform: translateY(0) rotate(90deg);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px) rotate(90deg);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px) rotate(90deg);
  }

  80% {
    transform: translateY(6.4px) rotate(90deg);
  }

  90% {
    transform: translateY(-6.4px) rotate(90deg);
  }
}