#homepage {

  section {
    text-align: center;
    h1 {
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }
    h4 {
      text-align: left;
    }
  }

  .events {
    @media screen and (min-width: $lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .event:nth-child(4n+2), .event:nth-child(4n+3) {
      grid-column: span 2;
    }
  }

  .event {
    position: relative;

    img {
      width: 80%;
      height: 300px;
      object-fit: cover;
    }

    .date {
      text-align: center;
      position: absolute;
      top: $body-padding * 2;
      left: $body-padding;
      font-size: 48px;
      font-weight: bold;
      line-height: 0.4em;

      span {
        font-size: 1.1rem;
      }
    }

    .event-info {
      text-align: right;
      width: 70%;
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 5rem;
    }
  }
}