#homepage {
  .events {
  }
  .event {
    position: relative;
    img {
      width: 80%;
      max-height: 200px;
      object-fit: cover;
    }
    .date {
      position: absolute;
      top: $body-padding * 2;
      left: $body-padding;
      font-size: 48px;
      font-weight: bold;
      line-height: 0.4em;
      span {
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .event-info {
      text-align: right;
      width: 70%;
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 5rem;
    }
  }
}