#job {
  .stilllingsannonser {
    .annonse {
      margin-bottom: 4rem;
      h3 {
        margin-bottom: 2rem;
      }
      p.beskrivelse {
        margin-bottom: 2rem;
      }
      .label {
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
}