#job-reservations {
  margin-top: $nav-height+2rem;

  .UserInfo {
      margin-left: 20px;
      margin-right: 20px;
      height: 300px;
      width: 50px;
      text-align: right;
      text-transform: capitalize;
  }

  .NavButton {
      margin-right: 10px;
  }

  .HorizontalScrollingContainer {
    /* width: 100%; */
    margin-top: 40px;
    overscroll-behavior-x: none;
    overflow-y: hidden; /*whole page should be scrolling.. not this div*/
    overflow-x: scroll;
    white-space: nowrap;
    background-color: transparent;
    /* border-width: 1px;
    border-color: red;
    border-style: solid;
    */
  }

  .TimeContainer {
    position: relative;
    background-color: transparent;
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    font-size: small;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
            user-select: none;
  }

  .Day {
    height: 25px;
  }

  .TimeElement {
    display: inline-block;
    background-color: #F3F2EF;
    vertical-align: middle;
    width: 100px;
    // width: 10%;
    color: black;
    white-space: nowrap;
  }

  .Queue {
    position: relative;
    vertical-align: middle;
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    background-color: transparent;
    // border-width: 0.2px;
    // border-color: black;
    // border-style: solid;
  }

  .LeftColumnTitle {
    z-index: 1;
    position: fixed;
    // background-color: #F3F2EF;
    opacity: 0.8;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    color: black;
    float: left;
    margin-left: 1.5%;
    height: 50px;
    line-height: 2.1;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
        -o-user-select: none;
          user-select: none;
  }

  .RightColumnOpacity { 
    z-index: 1;
    position: fixed;
    right: 0px;
    background-color: #F3F2EF;
    opacity: 0.8;
    width: 4%;
    height: 50px;  
  }

  .Job {
    /* https://stackoverflow.com/questions/5209814/can-i-position-an-element-fixed-relative-to-parent */
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    background-color: Gray;
    color: #E5E5E5;
    border-radius: 8px;
    // transition: transform .2s;
    // transition: left 2s;s
    // transition-property: transform;
    // transition-duration: 1s;
    // transition-timing-function:ease-in-out;

    // &:not(.Dragging) {
      // transition: top 2s;
      // transition-property:transform;
      // transition-duration: 1s;
      // transition-timing-function:ease-in-out;
    // }
    -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
              user-select: none;
  }

  .SelectedJob {
    border-width: medium;
    border-color: lightgrey;
    border-style: solid;
  }

  .Job:hover {
    border-width: medium;
    border-color: lightgrey;
    border-style: solid;
  }

  .StartTime {
    // height: 100%;
    margin-left: 6px;
    margin-top: 15px;
    cursor: grab;
    -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
              user-select: none;
    // font-style: oblique;
    // background-color: paleturquoise;
    // text-align: left;
  }

  .ScrollMargin {
    height: 10px;
    width: 100%;
  }

  .Personal {
    background-color: #C23546;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5;
  }

  .Urgent {
    background-color: #F0AE1A;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5;
  }

  .Private {
    background-color: #3B208B;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5;
  }

  .New {
    background-color: green;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5;
  }

  .SlideContainer {
    z-index: 1000;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 10px;
  }

  .Slider {
    position: absolute;
    right: 30px;
    top: 0px;
  }

  .Legend {
    position: absolute;
    left: 2%;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    display: grid;
  }

  .Key {
    position: relative;
    width: 60px;
    height: 20px;
    border-radius: 8px;
    float: left;
    margin: 5px;
  }

  .LegendText {
    position: relative;
    margin-left: 35px;
    line-height: 1.8;
  }

  .Actions {
    position: absolute; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    right: 5%;
    width: 30%;
    height: 100px;
    padding: 20px;
    padding-left: 50px;
  }

  .GantAction {
    margin: 10px;
    background-color: black;
    color: white;
  }

  .GantAction:disabled {
    opacity: 10%;
  }
 
  .TempFooter {
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
}


//RESERVATION MODAL BELOW 
.ReservationModal {
  display: fixed;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Visible {
  display: fixed;
}
.ReservationModalContent {
  background-color: white;
  border-radius: 10px;
  margin: 5% auto;
  padding: 20px;
  padding-bottom: 0px;
  width: 370px;
}
.ModalTitle {
margin-bottom: 30px;
}
.FormContainer {
display: flex;
align-items: center;
margin-bottom: 0px;
flex-direction: column;
}
.ModalRow {
//   border-color: green;
//   border-width: 1px;
border-style: dashed;
// flex-grow: 1;
margin-bottom: 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
padding-bottom: 10px;
}
.ModalColumn {
//   border-color: red;
//   border-width: 1px;
border-style: double;
display: flex;
flex-direction: column;
flex: 1;
}
.modalInput {
width: 100%;
}
.calculateInputBtn {
background-color: black;
color: white;
}
.timeInput {
font-size: small;
text-align: center;
}
.timeTitle { 
  padding: 2px ;
  font-size: small;
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

//ANIMATIONS LOADER BELOW

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 2px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 2px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 14px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 26px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}