#project-detail {
  min-height: 100vh;
  .image-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60vw;
    z-index: 1;
    img {
      max-height: 70vh;
      max-width: 50vw;
      object-fit: cover;
      box-shadow: $high-shadow;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 600ms $animation-ease;
      will-change: left, right;
      z-index: 10;
    }
    img.right {
      transform: translateX(140vw) translateY(-50%);
    }
    img.left {
      transform: translateX(-140vw) translateY(-50%);
    }
    .dots {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 10%;
      cursor: default;
    }
    .dot {
      $dot-size: 8px;
      height: $dot-size;
      width: $dot-size;
      background-color: $dark-gray;
      border-radius: $dot-size*2;
      display: inline-block;
      &.selected {
        background-color: $light-gray;
      }
      &:not(.selected) {
        cursor: pointer;
      }
      &:hover {
        background-color: $light-gray;
      }
    }
  }
  .project-description {
    margin-left: 60vw;
    padding-left: 2rem;
    padding-right: 6rem;
    top: 30%;
    position: relative;
    color: $white;

    a {
      margin-top: 10%;
      margin-bottom: 20%;
    }
    h1 {
      margin: 0.2rem 0 1rem;
    }
    .creator, .course {
      color: $dark-gray;
    }
    .course {
      margin-bottom: 1rem;
    }
    .description {
      white-space: pre-wrap;
    }
  }
}