#create-project {
  margin-top: $nav-height;
  top: $nav-height;
}

#project-page {
  padding: 10% 0;
  width: 100%;

  .project-image {
    display: block;

    img {
      box-shadow: $high-shadow;
    }

    .description {
      color: $white;
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .project-image {
      width: 100%;
      position: relative;
      margin-bottom: 20rem;
      padding-top: 5rem;

      .description {
        position: relative;
        padding: 0 10% 0 10%;
        text-align: justify;
      }

      &:nth-child(even) {
        .description {
          direction: rtl;
        }
      }

      img {
        display: block;
        position: relative;
        height: 100%;
        width: 80%;
        margin: 0 auto 2rem;
        object-fit: cover;
      }
    }
  }
  // Desktop
  @media screen and (min-width: 1000px) {
    .project-image {
      --image-size: 300px;
      position: relative;
      width: 100%;
      height: var(--image-size);

      &.active .description {
        opacity: 1;
      }

      .description {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(50% + 3rem);
        padding-right: 5%;
        opacity: 0;
        transition: opacity $animation-duration $animation-ease;
        overflow: hidden;
        width: 40%;

        p {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h3, p {
          transition: transform 200ms ease-in-out;
          will-change: transform;
          transform-origin: bottom left;
        }

        &:hover {
          h3, p {
            transform: skewX(-8deg);
          }
        }
      }

      img {
        position: absolute;
        right: 50%;
        top: 0;
        height: 100%;
        width: var(--image-size);
        object-fit: cover;
        box-shadow: $high-shadow;
      }

      &:nth-child(even) {
        .description {
          right: calc(50% + 3rem);
          left: auto;
          text-align: right;
          padding-left: 5%;
          padding-right: 0;
        }

        img {
          left: 50%;
          right: auto;
        }
      }

      &:nth-child(8n+1) {
        --image-size: 560px;
      }

      &:nth-child(8n+2) {
        --image-size: 480px;
      }

      &:nth-child(8n+3) {
        --image-size: 350px;
      }

      &:nth-child(8n+4) {
        --image-size: 360px;
      }

      &:nth-child(8n+5) {
        --image-size: 550px;
      }

      &:nth-child(8n+6) {
        --image-size: 400px;
      }

      &:nth-child(8n+7) {
        --image-size: 590px;
      }

      &:nth-child(8n+8) {
        --image-size: 350px;
      }

    }
  }
}

