#project-page {
  padding: 10% 0;
  width: 100%;
  overflow-x: hidden;

  .project-image {
    --image-size: 300px;
    position: relative;
    width: 100%;
    height: var(--image-size);

    .description {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(50% + 2rem);

    }

    img {
      position: absolute;
      right: 50%;
      top: 0;
      height: 100%;
      width: var(--image-size);
      object-fit: cover;
    }

    &:nth-child(even) {
      .description {
        right: calc(50% + 2rem);
        left: auto;
        text-align: right;
      }

      img {
        left: 50%;
        right: auto;
      }
    }

    &:nth-child(8n+1) {
      --image-size: 560px;
    }

    &:nth-child(8n+2) {
      --image-size: 480px;
    }

    &:nth-child(8n+3) {
      --image-size: 350px;
    }

    &:nth-child(8n+4) {
      --image-size: 360px;
    }

    &:nth-child(8n+5) {
      --image-size: 620px;
    }

    &:nth-child(8n+6) {
      --image-size: 400px;
    }

    &:nth-child(8n+7) {
      --image-size: 580px;
    }

    &:nth-child(8n+8) {
      --image-size: 350px;
    }

  }
}