#thesign {
  .box-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;

    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 0;

      .box:first-child {
        grid-column: span 2;
      }
    }


    .box {
      .image-container {
        position: relative;
        width: calc(100% + 2 * $body-padding);
        margin: -$body-padding;
        margin-bottom: 1rem;
        padding-top: 119.047619%;
        border-bottom: var(--border-width) solid $black;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}