#project-detail {
    color: white;

    img {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        max-height: 90vh;
        max-width: 100%;
        width: auto;
        object-fit: cover;
    }
}