{% extends 'base.html' %}

{% load static %}

{% block page_title %}Printer{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container nav">
        <img src="{% static 'img/printguide/side1.jpg' %}" alt="hvordan printe" style="max-width: 49%; position: relative;">
        <img src="{% static 'img/printguide/side2.jpg' %}" alt="hvordan printe" style="max-width: 49%; position: relative;">
        <img src="{% static 'img/printguide/side3.jpg' %}" alt="hvordan printe" style="max-width: 49%; position: relative;">
        <img src="{% static 'img/printguide/side4.jpg' %}" alt="hvordan printe" style="max-width: 49%; position: relative;">
        <br><br>
        <a class="button" target="_blank" rel="noopener noreferrer" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F19sSH3iJnWrkAEkZ09Ti9jL4JSvf9yy597fekaiRE9zU%2Fedit%3Fusp%3Dsharing%26fbclid%3DIwAR11sN0lPihjo6MkBod91yVm9RuY0FU9fCzXlN3ysejQtj6kIRAPq3P1tiU&h=AT0za2HyjHPhen50rn_NeVVkQa4uXycZgyHRKYAQzBRNXAhIcsF2QZXjP5OKLI2KGYTrjIlLY17JAN4bNPRsFmcMf29bfnvHcFPd4a6yvmUX3LKa4sfD4baUIl4qs3svUCz_Y1LK7nJz1qaYlQ&__tn__=-UK-R&c[0]=AT0WLoDci7AU4SEeLMrAUZtlTUGEnPwp4fRaQ5ch2ySkKDg2mEMJUFHXliL0l5-u1sFa3WuUTRhOhVy5X9RQn6tSpFINeAGcwQfbiSY3AAjBpJOwy_af_p8nn0YF7Y4TijetJvMz71vgqC7EcUrvmb-jvFNIj7rarwKg9-BkN9GT8iNGLWrRdqxhuFVTjB_SA-3lmvERJWNFBsIWcg">
        <span>Trykk her for å reservere printer</span></a>
        <br><br>
        <iframe width="100%" height="1400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ8HsIJOGiGoGykH0SZjXbXO_aR7GszfqiArQS4oSKRqwtH8C1zdyBxNnbf1xU6kXue-emceJrHjFQ3/pubhtml?gid=1244965332&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
{% endblock %}