#create-article {
    form {
        #id_title, textarea {
            display: block;
            border: none;
            outline: none;
        }
        #id_title {
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        .right {
            margin-top: 20%;
        }
        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-blue;
            margin-right: 6rem;
            min-height: 100vh;

            #id_image {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
    
                & + label {
                    display: block;
                    background-color: #fff;
                    color: $text-color;
                    padding: 1rem;
                }
            }
        }
        textarea {
            width: 63ch;
            line-height: 1.5rem;
            margin-bottom: 3rem;
        }
        select {
            border-radius: 0;
        }
        input[type="submit"] {
            margin-bottom: 5rem;
        }
        
    }
}