#create-article {
    margin-top: 74px;
    form {
        #id_title {
            display: block;
            border: none;
            outline: none;
        }
        #id_title {
            font-size: 3rem;
        }
        .markdown-preview p {
            margin-bottom: 1rem;
            max-width: 63ch;
        }
        .markdown-preview, #id_title, input[type="submit"] {
            margin: 0 2rem;
        }
        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-blue;
            min-height: 100vh;

            #id_image {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
    
                & + label {
                    display: block;
                    background-color: #fff;
                    color: $text-color;
                    padding: 1rem;
                }
            }
        }
        select {
            border-radius: 0;
        }
        input[type="submit"] {
            background-color: $red;
            color: #fff;
            padding: 0.5rem 1rem;
            border: none;
            position: fixed;
            bottom: 50px;
            right: 50px;
        }
    }
}