$grid-gap: 1rem;
#wiki-page {
    padding-left: 10%;
    padding-right: 10%;
    .wiki-search {
        margin: 4rem 0;
        position: relative;
        input {
            font-size: 4rem;
            border: none;
            outline: none;
            padding-left: 4rem;
            &::placeholder {
                color: $gray;
                transition: color 100ms ease-in-out;
            }
            &:focus {
                &+i {
                    color: $text-color;
                }
                &::placeholder {
                    color: $text-color;
                }
            }
        }
        i {
            transition: color 100ms ease-in-out;
            position: absolute;
            left: 0;
            top: 17px;
            font-size: 3rem;
            color: $gray;
        }
    }
    .all-articles {
        column-gap: $grid-gap;
        /* Masonry on large screens */
        @media only screen and (min-width: 1024px) {
            column-count: 4;
        }
        /* Masonry on medium-sized screens */
        @media only screen and (max-width: 1023px) and (min-width: 768px) {
            column-count: 3;
        }
        /* Masonry on small screens */
        @media only screen and (max-width: 767px) and (min-width: 540px) {
            column-count: 2;
        }
        .article-preview {
            background-color: $extra-light-gray;
            padding: 1rem;
            width: 100%;
            margin-bottom: $grid-gap;
            color: $text-color;
            display: inline-block;
            h4 {
                margin-bottom: 1rem;
                margin: 0;
            }
            h5,
            p {
                margin: 0;
            }
            p {
                line-height: 1.5em;
            }
            .highlight {
                background-color: $yellow;
            }
        }
    }
}