html {
    font-size: 16px;
}

h1 {
    font-family: $sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-family: $sans-serif;
    line-height: 1.5em;
}

p.paragraph {
    max-width: 63ch;
}