#event-detail {
  .image img {
    max-height: 80vh;
    max-width: 100%;
  }

  header {
    h1 {
      border-bottom: var(--border-width) solid $black;
      margin-bottom: 2rem;
    }
  }

  .info {
    @media screen and (min-width: $sm) {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .signup {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    >div>p {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      img {
        margin-right: 0.5rem;
      }
    }
  }

  .body {
    margin-top: 5%;
  }
}