#event-detail {
  margin-top: 5%;
  max-width: $md;

  header {
    position: relative;
    border-bottom: 2px solid $black;
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 4px;
    }

    div {
      position: absolute;
      bottom: 4px;
      right: 0;
      text-align: right;
    }
  }

  section {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 3fr 1fr;
  }

  > img {
    width: 100%;
    margin-top: 4rem;
  }
}
