#event-detail {
  @media screen and (max-width: $xl) {
    display: grid;
    grid-template-areas: 
    'i'
    'h'
    'b';
  }

  header, .image {
    border: $thick-border;
    background: $background-color;
  }
  header {
    padding: 5%;
    @media screen and (min-width: $xl) {
      padding: calc(5% + #{$nav-height}) 30% 5% 10%;
      position: fixed;
      height: 55vh;
      top: 0;
      left: 0;
    }
    grid-area: h;
    h3 {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    h2 + p {
      text-transform: uppercase;
      margin-top: 0.5em;
      font-size: 1.1rem;
      margin-bottom: 3em;
    }
  }
  .body {
    padding: 5%;
    @media screen and (min-width: $xl) {
      margin-top: 55vh;
      margin-right: 40vw;
      overflow-y: auto;
      padding: 2rem 2rem 4rem 10%;
    }
    @media screen and (max-width: $xl) {
      border: $thick-border;
      position: relative;
      top: calc(-1 * var(--border-width));
    }
    grid-area: b;

    p {
      white-space: pre-wrap;
      @include text-wrap;
    }
  }
  .image {
    max-width: 100vw;
    @media screen and (min-width: $xl) {
      position: fixed;
      bottom: 0;
      right: 0;
      height: calc(45vh + 2px);
      width: 40vw;
    }
    @media screen and (max-width: $xl) {
      &, img {
        max-height: 30vh;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom: $thick-border;
    }
    grid-area: i;
  }
}
