.box-container {
  margin-left: -$body-padding;
  margin-right: -$body-padding;
}

.box {
  padding: $body-padding * 2 $body-padding;
  border: $border-width solid $black;
  margin-top: -1px;
  margin-left: -1px;

  &:last-child {
    //border-bottom: $border-width solid $black;
  }

  &.clickable {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;

    &:hover {
      box-shadow: inset -3px 0 0 $black;
      cursor: pointer;
    }
    &:active {
      color: white;
      box-shadow: inset -4000px 0 0 $black;
    }
  }
}