.card {
  background-color: $white;
  box-shadow: $low-shadow;
  padding: 1rem;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  will-change: transform, box-shadow;
  color: $text-color;

  &.clickable:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: $med-shadow;
  }
}