$hamburger-bp: $md;

#main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem $body-padding;
  z-index: $z-navbar;
  background: $background-color;

  #leo-logo {
    display: inline-block;
    z-index: 10;
  }

  #hamburger {
    cursor: pointer;
    position: absolute;
    right: $body-padding * 2;
    top: 2rem;
    z-index: $z-navbar + 1;
    @media screen and (min-width: $hamburger-bp) {
      display: none;
    }

    .bar {
      width: 24px;
      height: 3px;
      background: $black;
      margin-bottom: 4px;

      &:last-child {
        width: 18px;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  // Mobile navigation
  @media screen and (max-width: $hamburger-bp) {
    #hamburger:not(.closed) {
      display: none;
    }
    #hamburger.closed {
      + .item-list {
        transform: translateX(100%);
      }
    }
    #close-nav {
      text-align: right;
      padding-top: 1.5rem;
    }
    .item-list {
      position: fixed;
      background: $black;
      top: 0;
      right: 0;
      width: 90vw;
      height: 100vh;
      overflow-y: scroll;
      padding-bottom: 4rem;
      transform: translateX(0);
      transition: transform 200ms ease-in-out;

      .nav-item, .nav-item.dropdown span {
        position: relative;
        display: block;
        border-bottom: $border-width solid white;
        color: white;
        padding: 1rem 2rem;
        font-size: 1.125rem;
        font-weight: bold;

        &.selected, &.selected > a, &.selected span {
          color: $dark-gray;
        }

        &.dropdown {
          padding: 0 2rem;

          span {
            margin: 0 -2rem;
            cursor: pointer;
          }

          ul {
            transform-origin: top;
          }

          &::after, &::before {
            content: '';
            width: 16px;
            height: 3px;
            background: white;
            position: absolute;
            right: 2rem;
            top: 26px;
          }

          &::before {
            transform: rotate(90deg);
            transition: transform 100ms ease-in-out;
          }

          & .nav-item {
            border-left: $border-width solid white;
            margin-right: -2rem;

            &:first-child {
              border-top: 0;
            }

            &:last-child {
              border-bottom: 0;
            }
          }

          &:not(.open) {
            ul {
              height: 0;
              transform: scaleY(0);
            }
            span {
              border: 0;
            }
          }
          &.open {
            ul {
              height: auto;
              transform: scaleY(1);
            }
            &::before {
              transform: rotate(0deg);
            }
          }
        }

        a {
          color: white;
        }
      }
    }
  }
}
