nav#main-navigation {
    position: fixed;
    width: 100%;
    height: $nav-height;
    top: 0;
    left: 0;
    z-index: 50;
    border-bottom: 1px solid $primary-light;
    border-top: 1px solid $primary-light;
    display: flex;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        background-color: $white;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: background-color $animation-duration $animation-ease;
        will-change: background-color;
    }
    &:hover::before {
        background-color: $light-gray;
    }

    #leo-logo {

        img {
            height: 42px;
            width: auto;
        }
    }
    #hamburger {
        display: none;
    }

    .left-aligned, .right-aligned {
        display: flex;
        height: 100%;
    }
    .right-aligned {
        position: absolute;
        right: 0;
    }

    .nav-item {
        height: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        color: $text-color;
        position: relative;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            will-change: transform;
            transition: transform $animation-duration $animation-ease;
            transform-origin: top;
            background-color: $white;
            z-index: -1;
            opacity: 1;
        }
        &:hover::before {
            transform: scaleY(1);
        }
    }
}