/* mixin for multiline */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, .filter, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --border-width: 2px; }
  @media screen and (min-width: 48em) {
    :root {
      --border-width: 3px; } }

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.header1,
.ql-container h1,
.header2,
.header3 {
  font-weight: bold; }

h1,
.header1,
.ql-container h1 {
  font-size: calc(1.7857142857vw + 37.7142857143px);
  line-height: 1.2em; }

h2,
.header2 {
  font-size: calc(0.8928571429vw + 26.8571428571px); }

h3,
.header3 {
  font-size: calc(0vw + 24px); }

.subtitle1 {
  font-size: 1.125rem;
  font-weight: bold; }

.subtitle2 {
  font-size: 1rem;
  font-weight: bold; }

p {
  line-height: 1.4em; }

b,
strong {
  font-weight: bold; }

ul,
ol {
  margin-left: 1.2rem; }

ul li {
  list-style-type: circle; }

ol li {
  list-style-type: decimal-leading-zero; }

em {
  font-style: italic; }

.caption, .input-field input:not([type="checkbox"]) ~ label,
.input-field select ~ label,
.input-field textarea ~ label, .input-field .helper-text, .input-field .errorlist li, #course-detail .reviews .review p:last-child {
  font-size: 0.75rem;
  line-height: 1.2em; }

.overline {
  font-size: 0.625rem; }

.gray {
  color: #757573; }

.p-width {
  max-width: 70ch; }

p.break {
  white-space: pre-wrap; }

.white-space-wrap {
  white-space: pre-wrap; }

.button-text {
  font-size: 1rem;
  line-height: 1.3em;
  letter-spacing: 0.08em;
  text-transform: uppercase; }

body {
  background-color: #F3F2EF; }
  body.dark,
  body.dark .full-width-container,
  body.dark #main-navigation,
  body.dark .container {
    background-color: #1A1A1A; }

.full-width-container {
  width: 100%;
  background: #F3F2EF; }

.container {
  max-width: 81.25em;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 1rem 200px;
  margin-bottom: 200px; }
  .container.nav {
    padding-top: calc(4rem + 5%); }
  .container.max-mobile {
    max-width: 375px;
    padding-left: auto;
    padding-right: auto; }

.full-width {
  width: 100%; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.right {
  text-align: right;
  margin-right: 0;
  margin-left: auto; }

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 0; }

.preloader {
  width: 1rem;
  height: 1rem;
  background: black;
  animation: loading 1.5s infinite; }
  .preloader:not(.loading) {
    display: none; }

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  30% {
    transform: rotate(45deg) scale(0.9, 1.1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  60% {
    transform: rotate(90deg) scale(1); }
  100% {
    transform: rotate(90deg); } }
a {
  display: block;
  color: #1A1A1A;
  text-decoration: none; }

p a,
.link {
  display: inline-block;
  border-bottom: 1px dashed #1A1A1A;
  margin-left: 5px; }

p a {
  display: inline; }

.button-link {
  padding: 1rem 2rem;
  border: var(--border-width) solid #1A1A1A;
  margin-top: calc(-1 * var(--border-width));
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem; }
  .button-link img {
    position: absolute;
    right: 2rem; }

#main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 50;
  background: #F3F2EF; }
  #main-navigation #leo-logo {
    display: inline-block;
    z-index: 10; }
  #main-navigation #hamburger {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 51; }
    @media screen and (min-width: 69.75em) {
      #main-navigation #hamburger {
        display: none; } }
    #main-navigation #hamburger .bar {
      width: 24px;
      height: 3px;
      background: #1A1A1A;
      margin-bottom: 4px; }
      #main-navigation #hamburger .bar:last-child {
        width: 18px;
        margin-right: 0;
        margin-left: auto; }
  @media screen and (min-width: 69.75em) {
    #main-navigation {
      display: flex;
      align-items: center; }
      #main-navigation .item-list {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 68.75em;
        margin-left: 5rem; }
      #main-navigation #close-nav {
        display: none; }
      #main-navigation li {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        margin-right: 3rem; }
        #main-navigation li.gray,
        #main-navigation li.gray > a {
          color: gray; }
      #main-navigation .nav-item {
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        color: #757573; }
        #main-navigation .nav-item:hover {
          color: #1A1A1A; }
        #main-navigation .nav-item.selected,
        #main-navigation .nav-item li.selected {
          font-weight: bold; }
          #main-navigation .nav-item.selected li:not(.selected),
          #main-navigation .nav-item li.selected li:not(.selected) {
            font-weight: normal; }
        #main-navigation .nav-item.user, #main-navigation .nav-item.login {
          position: absolute;
          right: 5%;
          display: flex;
          align-items: center; }
          #main-navigation .nav-item.user .face, #main-navigation .nav-item.login .face {
            position: absolute;
            right: -32px; }
          #main-navigation .nav-item.user:hover .face .mouth, #main-navigation .nav-item.login:hover .face .mouth {
            transform: translateX(-50%) scaleX(1); }
        #main-navigation .nav-item.dropdown {
          cursor: default; }
          #main-navigation .nav-item.dropdown:hover ul {
            transform: translateY(0);
            pointer-events: all;
            opacity: 1; }
        #main-navigation .nav-item ul {
          margin: 0;
          display: flex;
          align-items: center;
          position: absolute;
          pointer-events: none;
          top: 0;
          padding: 3rem 0rem 2rem;
          transform: translateY(-10px);
          transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
          opacity: 0; }
          #main-navigation .nav-item ul li {
            background-color: #F3F2EF;
            display: inline-block;
            margin-right: 2vw;
            white-space: nowrap; } }
  @media screen and (max-width: 68.75em) {
    #main-navigation #hamburger:not(.closed) {
      display: none; }
    #main-navigation #hamburger.closed + .item-list {
      transform: translateX(100%); }
    #main-navigation .face {
      display: none; }
    #main-navigation #close-nav {
      text-align: right;
      padding-top: 1.5rem; }
    #main-navigation .item-list {
      position: fixed;
      background: #1A1A1A;
      top: 0;
      right: 0;
      width: 90vw;
      height: 100vh;
      overflow-y: scroll;
      padding-bottom: 4rem;
      transform: translateX(0);
      transition: transform 200ms ease-in-out;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }
      #main-navigation .item-list li {
        list-style-type: none; }
      #main-navigation .item-list .nav-item,
      #main-navigation .item-list .nav-item.dropdown span {
        position: relative;
        display: block;
        border-bottom: 1px solid white;
        color: white;
        padding: 1rem 2rem;
        font-size: 1.125rem;
        font-weight: bold; }
        #main-navigation .item-list .nav-item.selected, #main-navigation .item-list .nav-item.selected > a, #main-navigation .item-list .nav-item.selected span,
        #main-navigation .item-list .nav-item.dropdown span.selected,
        #main-navigation .item-list .nav-item.dropdown span.selected > a,
        #main-navigation .item-list .nav-item.dropdown span.selected span {
          color: #757573; }
        #main-navigation .item-list .nav-item.dropdown,
        #main-navigation .item-list .nav-item.dropdown span.dropdown {
          padding: 0 2rem; }
          #main-navigation .item-list .nav-item.dropdown span,
          #main-navigation .item-list .nav-item.dropdown span.dropdown span {
            margin: 0 -2rem;
            cursor: pointer; }
          #main-navigation .item-list .nav-item.dropdown ul,
          #main-navigation .item-list .nav-item.dropdown span.dropdown ul {
            transform-origin: top; }
          #main-navigation .item-list .nav-item.dropdown::after, #main-navigation .item-list .nav-item.dropdown::before,
          #main-navigation .item-list .nav-item.dropdown span.dropdown::after,
          #main-navigation .item-list .nav-item.dropdown span.dropdown::before {
            content: '';
            width: 16px;
            height: 3px;
            background: white;
            position: absolute;
            right: 2rem;
            top: 26px; }
          #main-navigation .item-list .nav-item.dropdown::before,
          #main-navigation .item-list .nav-item.dropdown span.dropdown::before {
            transform: rotate(90deg);
            transition: transform 100ms ease-in-out; }
          #main-navigation .item-list .nav-item.dropdown li:first-child a,
          #main-navigation .item-list .nav-item.dropdown span.dropdown li:first-child a {
            border-top: 0; }
          #main-navigation .item-list .nav-item.dropdown .nav-item,
          #main-navigation .item-list .nav-item.dropdown span.dropdown .nav-item {
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: white;
            margin-right: -2rem; }
          #main-navigation .item-list .nav-item.dropdown:not(.open) ul,
          #main-navigation .item-list .nav-item.dropdown span.dropdown:not(.open) ul {
            height: 0;
            transform: scaleY(0); }
          #main-navigation .item-list .nav-item.dropdown:not(.open) span,
          #main-navigation .item-list .nav-item.dropdown span.dropdown:not(.open) span {
            border: 0; }
          #main-navigation .item-list .nav-item.dropdown.open ul,
          #main-navigation .item-list .nav-item.dropdown span.dropdown.open ul {
            height: auto;
            transform: scaleY(1); }
          #main-navigation .item-list .nav-item.dropdown.open::before,
          #main-navigation .item-list .nav-item.dropdown span.dropdown.open::before {
            transform: rotate(0deg); }
        #main-navigation .item-list .nav-item a,
        #main-navigation .item-list .nav-item.dropdown span a {
          color: white; } }

.image-viewer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow-x: hidden; }
  .image-viewer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 600ms ease-in-out; }
  .image-viewer img.right {
    transform: translateX(140vw); }
  .image-viewer img.left {
    transform: translateX(-140vw); }
  .image-viewer .dots, .image-viewer .image-viewer-counter {
    position: absolute;
    bottom: 10px; }
  .image-viewer .dots {
    right: 0; }
    .image-viewer .dots .image-viewer-dot {
      cursor: pointer;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      border: 2px solid #1A1A1A;
      display: inline-block;
      margin-right: 2px; }
      .image-viewer .dots .image-viewer-dot.selected {
        background: #1A1A1A; }

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid #1A1A1A;
  outline: 0;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  min-height: 48px;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin-bottom: 4px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }
  .button.fluid {
    width: 100%; }
  .button.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    min-width: 50px;
    height: 56px;
    padding: 0 1rem;
    z-index: 50; }
  .button span,
  .button img {
    transform: translate(-4px, -4px);
    z-index: 1;
    transition: transform 200ms ease-in-out; }
  .button:not(:disabled) {
    transform: translate(4px, 4px); }
    .button:not(:disabled)::after {
      content: '';
      position: absolute;
      border: 1px solid #1A1A1A;
      background-color: #1A1A1A;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(-4px, -4px);
      transition: transform 200ms ease-in-out; }
  .button:not(:disabled):hover {
    transform: translate(4px, 4px); }
    .button:not(:disabled):hover::after,
    .button:not(:disabled):hover span,
    .button:not(:disabled):hover img {
      transform: translate(0, 0); }
  .button:active::after {
    animation: button-press 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .button:disabled {
    background-color: #CAC9C6;
    cursor: default; }
  .button.secondary {
    color: #1A1A1A; }
    .button.secondary::after {
      border: none;
      box-shadow: 0 0 0 1px #1A1A1A;
      background: white; }
  .button.small {
    font-size: 0.6rem;
    min-height: 10px; }

a.button {
  display: inline-flex; }

@keyframes button-press {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1.05, 1.2);
    opacity: 0; } }
.input-field {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }
  .input-field input:not([type="checkbox"]),
  .input-field select {
    height: 56px; }
  .input-field select {
    cursor: pointer; }
    .input-field select:hover {
      box-shadow: inset 0 -3px 0 0 #1A1A1A; }
  .input-field input:not([type="checkbox"]),
  .input-field select,
  .input-field textarea {
    font-size: 16px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 200ms linear;
    color: #1A1A1A;
    font-weight: 400;
    -webkit-appearance: none;
    border: 1px solid #1A1A1A;
    padding: 0.5rem 1rem;
    border-radius: 0;
    outline: 0; }
    .input-field input:not([type="checkbox"]):focus,
    .input-field select:focus,
    .input-field textarea:focus {
      box-shadow: inset 0 -3px 0 0 #1A1A1A; }
    .input-field input:not([type="checkbox"]) ~ label,
    .input-field select ~ label,
    .input-field textarea ~ label {
      position: absolute;
      top: 20px;
      left: 1rem;
      opacity: 0;
      transition: all .3s ease;
      color: #757573;
      pointer-events: none; }
  .input-field textarea {
    padding-top: 1rem;
    min-height: 6rem; }
  .input-field input,
  .input-field textarea {
    display: flex; }
    .input-field input:not(:placeholder-shown),
    .input-field textarea:not(:placeholder-shown) {
      padding: 28px 1rem 12px 1rem; }
    .input-field input:not(:placeholder-shown) + label,
    .input-field textarea:not(:placeholder-shown) + label {
      transform: translateY(-10px);
      opacity: 1; }
  .input-field .helper-text {
    color: #757573;
    margin-left: 1rem;
    margin-top: 4px; }
  .input-field .errorlist {
    margin-left: 1rem; }
    .input-field .errorlist li {
      margin: 0;
      list-style-type: none;
      color: #D83163; }
  .input-field .preloader {
    position: absolute;
    right: 1rem;
    top: 1.25rem; }
  .input-field input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .input-field input[type="checkbox"] + .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.5rem;
      width: 1.5rem;
      border: 1px solid #1A1A1A;
      z-index: -1;
      transform: translate(2px, 2px); }
      .input-field input[type="checkbox"] + .checkmark::after, .input-field input[type="checkbox"] + .checkmark::before {
        content: '';
        position: absolute; }
      .input-field input[type="checkbox"] + .checkmark::after {
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
        width: 7px;
        height: 13px;
        top: 2px;
        left: 6px; }
      .input-field input[type="checkbox"] + .checkmark::before {
        top: -1px;
        left: -1px;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid #1A1A1A;
        background: #1A1A1A;
        transform: translate(-2px, -2px); }
    .input-field input[type="checkbox"]:not(:checked) + .checkmark::before {
      background-color: #F3F2EF; }
    .input-field input[type="checkbox"]:not(:checked) + .checkmark::after {
      display: none; }
    .input-field input[type="checkbox"] ~ label {
      display: flex;
      align-items: center;
      z-index: 1;
      height: 1.5rem;
      padding-left: 2.3rem;
      cursor: pointer; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 200px;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: #1A1A1A;
  color: #757573;
  padding: 2rem;
  max-width: 100vw; }
  footer img {
    height: 64px;
    width: auto; }
  footer #sit-logo {
    height: 48px; }

.course-search {
  z-index: 2; }
  .course-search .autocomplete {
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    background-color: white;
    border: 1px solid #1A1A1A; }
    .course-search .autocomplete div {
      padding: 1rem 1rem;
      cursor: pointer; }
      .course-search .autocomplete div:hover, .course-search .autocomplete div.active-item {
        background-color: #CAC9C6; }

.ql-container {
  font-size: 1rem !important; }
  .ql-container h1 {
    margin-bottom: 1rem !important; }

.ql-tooltip-arrow {
  border-bottom-color: #1A1A1A !important; }

.ql-tooltip {
  border-radius: 0 !important;
  background: #1A1A1A !important; }

.ql-stroke {
  stroke: white !important; }

.ql-fill {
  fill: white !important; }

.filter {
  background: white;
  color: #1A1A1A;
  box-shadow: 1px 1px 0 #1A1A1A;
  padding: 4px 12px;
  display: inline-block;
  border: 1px solid #1A1A1A;
  cursor: pointer;
  margin-right: 4px;
  transition: box-shadow 200ms ease-in-out;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }
  .filter:hover {
    box-shadow: 2px 2px 0 #1A1A1A; }
  .filter.selected {
    background: #1A1A1A;
    color: white; }

.box-container {
  margin: 0; }
  @media screen and (max-width: 81.25em) {
    .box-container {
      margin-left: -1rem;
      margin-right: -1rem; } }
  .box-container > li {
    list-style-type: none;
    margin: 0; }

.box, .url-preview, .event, #course-detail .add-link {
  position: relative;
  padding: 1rem;
  border: var(--border-width) solid #1A1A1A;
  margin-top: calc(-1 * var(--border-width));
  margin-left: calc(-1 * var(--border-width)); }
  .box.clickable, .clickable.url-preview, .clickable.event, .event:not(.old), #course-detail .clickable.add-link {
    transition-property: box-shadow, color, opacity, transform;
    transition-timing-function: ease;
    transition-duration: 200ms; }
    .box.clickable:hover, .clickable.url-preview:hover, .clickable.event:hover, .event:hover:not(.old), #course-detail .clickable.add-link:hover {
      box-shadow: inset 0 -3px 0 #1A1A1A;
      cursor: pointer; }

.box.box-image, .box-image.url-preview, .box-image.event, #course-detail .box-image.add-link {
  margin-top: 1rem;
  padding: 1rem; }
  .box.box-image h4, .box-image.url-preview h4, .box-image.event h4, #course-detail .box-image.add-link h4 {
    display: flex;
    align-items: center;
    padding-bottom: 1rem; }
    .box.box-image h4 img, .box-image.url-preview h4 img, .box-image.event h4 img, #course-detail .box-image.add-link h4 img {
      position: absolute;
      right: 1rem; }
  .box.box-image > img, .box-image.url-preview > img, .box-image.event > img, #course-detail .box-image.add-link > img {
    border-top: 2px solid #1A1A1A;
    margin: 0 -1rem -1rem -1rem;
    width: calc(100% + 2rem);
    height: calc(100% - 1rem);
    object-fit: cover; }

.url-preview {
  display: block;
  padding-top: 100%; }
  .url-preview div {
    position: absolute;
    width: calc(100% - 2rem);
    top: 50%;
    max-height: 100%;
    overflow: hidden;
    left: 1rem;
    transform: translateY(-50%);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; }
    .url-preview div p {
      margin-top: 0.25rem; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 400ms ease-in-out;
  z-index: 100;
  background: #F3F2EF;
  padding: 1rem; }
  .modal:not(.open) {
    transform: translate(-200vw, -50%); }

.scrim {
  background: rgba(26, 26, 26, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: opacity 200ms ease-in-out;
  cursor: zoom-out; }
  .scrim:not(.show) {
    opacity: 0;
    pointer-events: none; }

.event {
  position: relative;
  padding-top: 120%; }
  .event:not(.old) {
    z-index: 1; }
  .event.old {
    opacity: 0.5 !important;
    cursor: default; }
  .event .date {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .event div:not(.image-container) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #F3F2EF;
    padding: 1rem;
    z-index: 1;
    border-bottom: var(--border-width) solid #1A1A1A;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; }
    .event div:not(.image-container) h3:first-child {
      font-weight: normal; }
    .event div:not(.image-container) p {
      margin-bottom: 1rem;
      text-transform: uppercase; }
  .event .image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%; }
    .event .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.face {
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #1A1A1A;
  border-radius: 50%; }
  .face .eyes, .face .mouth {
    position: absolute;
    background: #1A1A1A; }
  .face .eyes {
    top: 4px;
    width: 3px;
    height: 3px;
    border-radius: 50%; }
    .face .eyes.left {
      left: 4px; }
    .face .eyes.right {
      right: 4px; }
  .face .mouth {
    width: 7px;
    height: 2px;
    left: 50%;
    transition: transform 200ms ease-in-out;
    transform: translateX(-50%) scaleX(0);
    bottom: 4px;
    will-change: transform; }

.dropzone {
  border: var(--border-width) dashed #1A1A1A;
  background: none;
  border-radius: 0; }
  .dropzone .dz-default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    cursor: pointer; }
    .dropzone .dz-default.dz-drag-hover {
      border-style: solid; }

.dz-preview {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-column-gap: 2rem;
  border: var(--border-width) solid #1A1A1A;
  height: calc(60px + 2 * var(--border-width));
  position: relative;
  margin-top: calc(-1 * var(--border-width)); }
  .dz-preview .dz-image {
    background: #1A1A1A;
    height: 60px;
    width: 60px;
    border-right: var(--border-width) solid #1A1A1A; }
  .dz-preview .dz-progress {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 0;
    left: 60px; }
    .dz-preview .dz-progress span {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 0%;
      background: #4BB543; }
  .dz-preview > div {
    display: flex;
    align-items: center; }
  .dz-preview:hover .dz-remove,
  .dz-preview:hover .dz-cancel {
    opacity: 1; }
  .dz-preview.dz-processing:not(.dz-complete) .dz-remove {
    display: none; }
  .dz-preview.dz-processing.dz-complete .dz-remove {
    display: flex; }
  .dz-preview.dz-processing.dz-complete .dz-cancel {
    display: none; }
  .dz-preview .dz-remove,
  .dz-preview .dz-cancel {
    position: absolute;
    display: flex;
    opacity: 0;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0; }

table {
  border-collapse: collapse;
  width: 100%; }
  table td,
  table th {
    border: 1px solid #1A1A1A;
    padding: 8px; }
  table tr:nth-child(odd) {
    background-color: #e8e6e0; }
  table tr:hover {
    background-color: #ddd; }
  table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-weight: bold;
    background-color: #F3F2EF; }

#job-reservations {
  margin-top: 6rem; }
  #job-reservations .UserInfo {
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    width: 50px;
    text-align: right;
    text-transform: capitalize; }
  #job-reservations .NavButton {
    margin-right: 10px; }
  #job-reservations .HorizontalScrollingContainer {
    /* width: 100%; */
    margin-top: 40px;
    overscroll-behavior-x: none;
    overflow-y: hidden;
    /*whole page should be scrolling.. not this div*/
    overflow-x: scroll;
    white-space: nowrap;
    background-color: transparent;
    /* border-width: 1px;
    border-color: red;
    border-style: solid;
    */ }
  #job-reservations .TimeContainer {
    position: relative;
    background-color: transparent;
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    font-size: small;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  #job-reservations .Day {
    height: 25px; }
  #job-reservations .TimeElement {
    display: inline-block;
    background-color: #F3F2EF;
    vertical-align: middle;
    width: 100px;
    color: black;
    white-space: nowrap; }
  #job-reservations .Queue {
    position: relative;
    vertical-align: middle;
    margin-bottom: 5px;
    height: 50px;
    width: 500%;
    overscroll-behavior-x: scroll;
    background-color: transparent; }
  #job-reservations .LeftColumnTitle {
    z-index: 1;
    opacity: 0.8;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    color: black;
    float: left;
    height: 50px;
    line-height: 2.1;
    position: sticky;
    left: 1em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  #job-reservations .RightColumnOpacity {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: #F3F2EF;
    opacity: 0.8;
    width: 4%;
    height: 50px; }
  #job-reservations .Job {
    /* https://stackoverflow.com/questions/5209814/can-i-position-an-element-fixed-relative-to-parent */
    position: absolute;
    margin: 0px;
    float: left;
    padding: 10px;
    text-align: left;
    width: 20%;
    height: 100%;
    background-color: #757573;
    color: #E5E5E5;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 200ms, background-color 200ms;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  #job-reservations .Job:hover {
    transform: translate(4px, 4px); }
  #job-reservations .StartTime {
    cursor: grab;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  #job-reservations .Job .JobCreator {
    width: 100%;
    position: relative;
    top: 8px; }
    #job-reservations .Job .JobCreator .named {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize; }
  #job-reservations .ScrollMargin {
    height: 10px;
    width: 100%; }
  #job-reservations .Personal {
    background-color: #E81756;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5; }
  #job-reservations .Urgent {
    background-color: #F0AE1A;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5; }
  #job-reservations .Private {
    background-color: #3B208B;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5; }
  #job-reservations .Job.Personal.SelectedJob {
    background-color: #8b0e34; }
  #job-reservations .Job.Urgent.SelectedJob {
    background-color: #9a6e0a; }
  #job-reservations .Job.Private.SelectedJob {
    background-color: #180d38; }
  #job-reservations .New {
    background-color: green;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    float: left;
    text-align: left;
    width: 20%;
    height: 100%;
    color: #E5E5E5; }
  #job-reservations .SlideContainer {
    z-index: 1000;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 10px; }
  #job-reservations .Slider {
    position: absolute;
    right: 30px;
    top: 0px; }
  #job-reservations .Legend {
    position: absolute;
    left: 2%;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    display: grid; }
  #job-reservations .Key {
    position: relative;
    width: 60px;
    height: 20px;
    border-radius: 8px;
    float: left;
    margin: 5px; }
  #job-reservations .LegendText {
    position: relative;
    margin-left: 35px;
    line-height: 1.8; }
  #job-reservations .Actions {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    right: 5%;
    width: 30%;
    height: 100px;
    padding: 20px;
    padding-left: 50px; }
  #job-reservations .GantAction {
    margin: 10px;
    background-color: black;
    color: white; }
  #job-reservations .GantAction:disabled {
    opacity: 10%; }
  #job-reservations .TempFooter {
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px; }

.ReservationModal {
  display: fixed;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.Visible {
  display: fixed; }

.ReservationModalContent {
  background-color: white;
  border-radius: 10px;
  margin: 5% auto;
  padding: 20px;
  padding-bottom: 0px;
  width: 370px; }

.ModalTitle {
  margin-bottom: 30px; }

.FormContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column; }

.ModalRow {
  border-style: dashed;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px; }

.ModalColumn {
  border-style: double;
  display: flex;
  flex-direction: column;
  flex: 1; }

.modalInput {
  width: 100%; }

.calculateInputBtn {
  background-color: black;
  color: white; }

.timeInput {
  font-size: small;
  text-align: center; }

.timeTitle {
  padding: 2px;
  font-size: small; }

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px; }

.lds-ellipsis div {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 2px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 2px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 14px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 26px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(12px, 0); } }
#homepage section {
  display: block;
  height: 100vh;
  position: relative;
  padding-top: 25vh;
  padding-left: 5%;
  overflow-x: hidden; }
  #homepage section h1 {
    font-size: calc(3.5714285714vw + 27.4285714286px);
    line-height: 1em;
    font-family: "PT Serif"; }
  #homepage section h1,
  #homepage section p {
    position: relative;
    display: block;
    max-width: 81.25em;
    z-index: 1;
    top: 4rem; }
  #homepage section p {
    font-size: calc(0.8928571429vw + 10.8571428571px);
    max-width: 70vw;
    margin-top: 1rem;
    color: #757573; }
  #homepage section > img {
    position: absolute;
    top: 55%;
    right: -5%;
    transform: translateY(-50%);
    height: 90%; }
    @media screen and (max-width: 68.75em) {
      #homepage section > img {
        right: auto;
        left: 50%;
        transform: translate(-40%, -50%); } }
  #homepage section .scroll-down {
    position: absolute;
    bottom: 10vh; }
    @media screen and (max-width: 68.75em) {
      #homepage section .scroll-down {
        display: none; } }
    #homepage section .scroll-down img {
      animation: scroll-down 3200ms ease-in-out;
      animation-delay: 1.5s;
      transform: rotate(90deg); }
#homepage .events {
  display: grid;
  grid-gap: 1rem; }
  @media screen and (min-width: 56.25em) {
    #homepage .events {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (max-width: 56.25em) {
    #homepage .events {
      grid-template-columns: repeat(3, 1fr); }
      #homepage .events .event:nth-child(4) {
        display: none; } }
  @media screen and (max-width: 48em) {
    #homepage .events {
      grid-template-columns: repeat(2, 1fr); }
      #homepage .events .event h3 {
        font-size: 1.125rem; }
      #homepage .events .event p {
        font-size: 0.825rem; }
      #homepage .events .event:nth-child(4) {
        display: block; } }
#homepage .projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "b1 b1 b2 b3" "b1 b1 b4 b4" "b5 b6 b4 b4";
  margin-top: 6rem; }
  #homepage .projects .box, #homepage .projects .url-preview, #homepage .projects .event, #homepage .projects #course-detail .add-link, #course-detail #homepage .projects .add-link {
    position: relative;
    max-width: none;
    background-color: #1A1A1A;
    padding-top: 100%;
    cursor: pointer; }
    #homepage .projects .box img, #homepage .projects .url-preview img, #homepage .projects .event img, #homepage .projects #course-detail .add-link img, #course-detail #homepage .projects .add-link img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #homepage .projects .box:nth-child(1), #homepage .projects .url-preview:nth-child(1), #homepage .projects .event:nth-child(1), #homepage .projects #course-detail .add-link:nth-child(1), #course-detail #homepage .projects .add-link:nth-child(1) {
      grid-area: b1; }
    #homepage .projects .box:nth-child(2), #homepage .projects .url-preview:nth-child(2), #homepage .projects .event:nth-child(2), #homepage .projects #course-detail .add-link:nth-child(2), #course-detail #homepage .projects .add-link:nth-child(2) {
      grid-area: b2; }
    #homepage .projects .box:nth-child(3), #homepage .projects .url-preview:nth-child(3), #homepage .projects .event:nth-child(3), #homepage .projects #course-detail .add-link:nth-child(3), #course-detail #homepage .projects .add-link:nth-child(3) {
      grid-area: b3; }
    #homepage .projects .box:nth-child(4), #homepage .projects .url-preview:nth-child(4), #homepage .projects .event:nth-child(4), #homepage .projects #course-detail .add-link:nth-child(4), #course-detail #homepage .projects .add-link:nth-child(4) {
      grid-area: b4; }
    #homepage .projects .box:nth-child(5), #homepage .projects .url-preview:nth-child(5), #homepage .projects .event:nth-child(5), #homepage .projects #course-detail .add-link:nth-child(5), #course-detail #homepage .projects .add-link:nth-child(5) {
      grid-area: b5; }
    #homepage .projects .box:nth-child(6), #homepage .projects .url-preview:nth-child(6), #homepage .projects .event:nth-child(6), #homepage .projects #course-detail .add-link:nth-child(6), #course-detail #homepage .projects .add-link:nth-child(6) {
      grid-area: b6; }

@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0) rotate(90deg); }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px) rotate(90deg); }
  20%,
  40%,
  60% {
    transform: translateY(8px) rotate(90deg); }
  80% {
    transform: translateY(6.4px) rotate(90deg); }
  90% {
    transform: translateY(-6.4px) rotate(90deg); } }
#event-detail .image img {
  max-height: 80vh;
  max-width: 100%; }
#event-detail header h1 {
  border-bottom: var(--border-width) solid #1A1A1A;
  margin-bottom: 2rem; }
@media screen and (min-width: 37.5em) {
  #event-detail .info {
    display: grid;
    grid-template-columns: 2fr 1fr; }
    #event-detail .info .signup {
      display: flex;
      flex-direction: row-reverse; } }
#event-detail .info > div > p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; }
  #event-detail .info > div > p img {
    margin-right: 0.5rem; }
#event-detail .body {
  margin-top: 5%; }

#all-events header {
  position: relative;
  margin-top: 25%; }
  #all-events header h1 {
    padding-bottom: 2rem; }
  #all-events header img {
    position: absolute;
    bottom: 0;
    width: 60%;
    right: 0; }
#all-events .box-container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem; }
  @media screen and (min-width: 56.25em) {
    #all-events .box-container {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (max-width: 56.25em) {
    #all-events .box-container {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 48em) {
    #all-events .box-container {
      grid-template-columns: repeat(2, 1fr); }
      #all-events .box-container .event h3 {
        font-size: 1.125rem; }
      #all-events .box-container .event p {
        font-size: 0.825rem; } }

#project-page h1 {
  margin-bottom: 1rem; }
#project-page .container {
  margin-bottom: 0;
  padding-bottom: 3rem; }
  #project-page .container .button {
    display: inline-flex;
    margin-top: 2rem; }
#project-page .box-container {
  display: grid;
  grid-auto-rows: calc(100vh / 3); }
  @media screen and (max-width: 37.5em) {
    #project-page .box-container {
      grid-template-columns: repeat(2, 1fr); }
      #project-page .box-container .box:nth-child(3n), #project-page .box-container .url-preview:nth-child(3n), #project-page .box-container .event:nth-child(3n), #project-page .box-container #course-detail .add-link:nth-child(3n), #course-detail #project-page .box-container .add-link:nth-child(3n) {
        grid-column: span 2; } }
  @media screen and (min-width: 480px) {
    #project-page .box-container {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 960px) {
    #project-page .box-container {
      grid-template-columns: repeat(4, 1fr); } }
  #project-page .box-container .box, #project-page .box-container .url-preview, #project-page .box-container .event, #project-page .box-container #course-detail .add-link, #course-detail #project-page .box-container .add-link {
    position: relative;
    max-width: none;
    background-color: #1A1A1A;
    cursor: pointer;
    overflow: hidden; }
    #project-page .box-container .box:hover img, #project-page .box-container .url-preview:hover img, #project-page .box-container .event:hover img, #project-page .box-container #course-detail .add-link:hover img, #course-detail #project-page .box-container .add-link:hover img {
      transform: scale(1.02); }
    #project-page .box-container .box img, #project-page .box-container .url-preview img, #project-page .box-container .event img, #project-page .box-container #course-detail .add-link img, #course-detail #project-page .box-container .add-link img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 600ms ease-in-out;
      will-change: transform; }
    @media screen and (min-width: 960px) {
      #project-page .box-container .box:nth-child(22n+1), #project-page .box-container .url-preview:nth-child(22n+1), #project-page .box-container .event:nth-child(22n+1), #project-page .box-container #course-detail .add-link:nth-child(22n+1), #course-detail #project-page .box-container .add-link:nth-child(22n+1) {
        grid-column: span 2;
        grid-row: span 2; }
      #project-page .box-container .box:nth-child(22n+5), #project-page .box-container .url-preview:nth-child(22n+5), #project-page .box-container .event:nth-child(22n+5), #project-page .box-container #course-detail .add-link:nth-child(22n+5), #course-detail #project-page .box-container .add-link:nth-child(22n+5) {
        grid-row: span 2; }
      #project-page .box-container .box:nth-child(22n+9), #project-page .box-container .url-preview:nth-child(22n+9), #project-page .box-container .event:nth-child(22n+9), #project-page .box-container #course-detail .add-link:nth-child(22n+9), #course-detail #project-page .box-container .add-link:nth-child(22n+9) {
        grid-column: span 2; }
      #project-page .box-container .box:nth-child(22n+14), #project-page .box-container .url-preview:nth-child(22n+14), #project-page .box-container .event:nth-child(22n+14), #project-page .box-container #course-detail .add-link:nth-child(22n+14), #course-detail #project-page .box-container .add-link:nth-child(22n+14) {
        grid-column: span 2;
        grid-row: span 2; }
      #project-page .box-container .box:nth-child(22n+15), #project-page .box-container .url-preview:nth-child(22n+15), #project-page .box-container .event:nth-child(22n+15), #project-page .box-container #course-detail .add-link:nth-child(22n+15), #course-detail #project-page .box-container .add-link:nth-child(22n+15) {
        grid-row: span 2; }
      #project-page .box-container .box:nth-child(22n+22), #project-page .box-container .url-preview:nth-child(22n+22), #project-page .box-container .event:nth-child(22n+22), #project-page .box-container #course-detail .add-link:nth-child(22n+22), #course-detail #project-page .box-container .add-link:nth-child(22n+22) {
        grid-column: span 2; } }

#project-detail {
  color: white;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }
  #project-detail .box-container {
    margin-top: 3rem; }
  #project-detail img {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    max-height: 90vh;
    max-width: 100%;
    width: auto;
    object-fit: cover; }

#about h1,
#about h1 + p {
  text-align: right;
  margin: 0 0 0 auto; }
#about p {
  width: 80%; }
#about img {
  width: 100%; }
#about .kontaktperson img {
  max-width: 200px; }

@media screen and (min-width: 48em) {
  #courses .box, #courses .url-preview, #courses .event, #courses #course-detail .add-link, #course-detail #courses .add-link, #courses .labels {
    display: grid;
    grid-template-columns: 100px 1fr 200px 150px; }
  #courses .labels {
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 1rem; }
  #courses .caption, #courses .input-field input:not([type="checkbox"]) ~ label, .input-field #courses input:not([type="checkbox"]) ~ label,
  #courses .input-field select ~ label,
  .input-field #courses select ~ label,
  #courses .input-field textarea ~ label,
  .input-field #courses textarea ~ label, #courses .input-field .helper-text, .input-field #courses .helper-text, #courses .input-field .errorlist li, .input-field .errorlist #courses li, #courses #course-detail .reviews .review p:last-child, #course-detail .reviews .review #courses p:last-child {
    font-size: 1rem; }
  #courses .sort-label {
    display: flex;
    align-items: center;
    color: #757573;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
    #courses .sort-label.active {
      color: #1A1A1A;
      font-weight: bold; }
    #courses .sort-label.descending img {
      transform: rotate(180deg); }
    #courses .sort-label img {
      position: relative;
      margin-left: 4px;
      top: 2px;
      transition: transform 200ms ease-in-out; } }
@media screen and (max-width: 48em) {
  #courses .course-item {
    padding: 1.5rem 1rem; }
  #courses .class-year {
    position: absolute;
    top: 1.5rem;
    right: 1rem; }
  #courses .caption strong, #courses .input-field input:not([type="checkbox"]) ~ label strong, .input-field #courses input:not([type="checkbox"]) ~ label strong,
  #courses .input-field select ~ label strong,
  .input-field #courses select ~ label strong,
  #courses .input-field textarea ~ label strong,
  .input-field #courses textarea ~ label strong, #courses .input-field .helper-text strong, .input-field #courses .helper-text strong, #courses .input-field .errorlist li strong, .input-field .errorlist #courses li strong, #courses #course-detail .reviews .review p:last-child strong, #course-detail .reviews .review #courses p:last-child strong {
    margin-top: 8px; } }

#course-detail h1 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; }
#course-detail .useful-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); }
#course-detail .add-link {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  border-style: dashed; }
  #course-detail .add-link img {
    margin-bottom: 1rem; }
#course-detail .modal {
  padding-left: calc(180px + 2rem);
  min-height: calc(180px + 2rem);
  width: 500px;
  max-width: 90%; }
  #course-detail .modal .url-preview {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 180px;
    height: 180px;
    padding: 0; }

#komite .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem; }

#thesign .box-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem; }
  @media screen and (max-width: 37.5em) {
    #thesign .box-container {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1rem; }
      #thesign .box-container .box:first-child, #thesign .box-container .url-preview:first-child, #thesign .box-container .event:first-child, #thesign .box-container #course-detail .add-link:first-child, #course-detail #thesign .box-container .add-link:first-child {
        grid-column: span 2; } }
  #thesign .box-container .box .image-container, #thesign .box-container .url-preview .image-container, #thesign .box-container .event .image-container, #thesign .box-container #course-detail .add-link .image-container, #course-detail #thesign .box-container .add-link .image-container {
    position: relative;
    width: calc(100% + 2 * $body-padding);
    margin: -1rem;
    margin-bottom: 1rem;
    padding-top: 119.047619%;
    border-bottom: var(--border-width) solid #1A1A1A; }
    #thesign .box-container .box .image-container img, #thesign .box-container .url-preview .image-container img, #thesign .box-container .event .image-container img, #thesign .box-container #course-detail .add-link .image-container img, #course-detail #thesign .box-container .add-link .image-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }

#books {
  position: relative; }
  #books > img {
    width: calc(100% + 2rem);
    margin: 0 -1rem; }
    @media screen and (min-width: 48em) {
      #books > img {
        display: none; } }
  #books > .button {
    margin-top: 2rem;
    display: inline-flex; }
  #books .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(179px, 1fr)); }
    @media screen and (min-width: 48em) {
      #books .box-container {
        width: 50vw; } }
  #books .book {
    padding-bottom: 1rem; }
    #books .book .image-container {
      width: calc(100% + 2rem);
      margin: -1rem -1rem 1rem;
      padding-top: calc(3 / 2 * 100%);
      position: relative;
      overflow: hidden; }
      #books .book .image-container img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        object-fit: cover; }
    #books .book .bottom {
      margin-top: 1rem; }

#tips-page header {
  position: relative; }
  #tips-page header > img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 30vh;
    max-width: 55vw;
    z-index: 0; }
#tips-page .tag {
  position: relative;
  z-index: 1; }

#profile-page {
  max-width: 37.5em; }
  #profile-page form {
    margin: 2rem 0; }
  #profile-page #is_komite ~ .input-field {
    margin-top: 1rem;
    display: none; }
  #profile-page #is_komite:checked ~ .input-field {
    display: block; }
  #profile-page .my-books .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    #profile-page .my-books .box-container button img {
      width: 1rem;
      margin-right: 0.5rem; }

#error {
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 2rem; }

#leo-snake {
  position: absolute;
  top: 0;
  left: 0; }

#leo-snake__score {
  display: none; }
  #leo-snake__score div {
    position: absolute;
    z-index: 10; }
    #leo-snake__score div:first-child {
      font-size: 1.2rem; }
    #leo-snake__score div::last-child {
      font-size: 0.8rem; }
  #leo-snake__score #score {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5); }
  #leo-snake__score #highscore {
    bottom: 2%;
    left: 2%; }
  #leo-snake__score div span {
    font-size: 1.1em; }

#vedtekter ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  margin-bottom: 0; }
#vedtekter ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0; }
#vedtekter ol > li:before {
  content: counters(item,".") ". ";
  display: table-cell;
  padding-right: 0.6em; }
#vedtekter li ol > li {
  margin: 0; }
#vedtekter li ol > li:before {
  content: counters(item,".") " "; }
#vedtekter ul li {
  list-style-type: disc; }

#job .filters {
  margin-bottom: 2rem; }
#job .filters .filter {
  display: inline-block; }

.annonse {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 2rem;
  cursor: pointer;
  margin-bottom: 2rem; }
  .annonse:hover .logo {
    transform: translate(6px, 6px); }
    .annonse:hover .logo .border {
      transform: translate(0, 0); }
  .annonse .logo {
    position: relative;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease-in-out; }
    .annonse .logo .border {
      position: absolute;
      transition: transform 200ms ease-in-out;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .annonse .logo img {
      width: 80%;
      height: 80%;
      object-fit: scale-down; }
  .annonse .border {
    transform: translate(6px, 6px);
    border: var(--border-width) solid; }

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .text h3 {
    margin-bottom: 0.5rem; }

/*# sourceMappingURL=main.css.map */
