@import // Base:
'base/mixins',
'base/css-reset',
'base/variables',
'base/typography',
'base/global',

// Components:
'components/links',
'components/navbar',
'components/image-viewer',
'components/buttons',
'components/inputs',
'components/footer',
'components/course-search',
'components/quill',
'components/filter',
'components/box',
'components/url-preview',
'components/modal',
'components/event-component',
'components/face',
'components/dropzone',

// Pages:
'pages/homepage',
'pages/events/event-detail',
'pages/events/all-events',
'pages/project/projects',
'pages/project/project-detail',
'pages/about',
'pages/courses/courses',
'pages/courses/course-detail',
'pages/komite/komite',
'pages/komite/komite-detail',
'pages/thesign',
'pages/books',
'pages/tips'
;