/* mixin for multiline */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: calc(1.7857142857vw + 37.7142857143px);
  line-height: 1.2em; }

h2 {
  font-size: calc(0.8928571429vw + 26.8571428571px); }

h3 {
  font-size: calc(0vw + 24px); }

h4 {
  font-size: 1rem; }

p {
  line-height: 1.4em; }

b {
  font-weight: bold; }

body {
  background-color: #F3F2EF; }

.container {
  margin: 5% 1rem; }
  .container.nav {
    margin-top: calc(4rem + 5%); }

.box-container {
  margin-left: -1rem;
  margin-right: -1rem; }

.box {
  padding: 2rem 1rem;
  border: 1px solid black;
  margin-top: -1px;
  margin-left: -1px; }

a {
  display: block;
  color: black;
  text-decoration: none; }

p a {
  display: inline; }

#main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 10000;
  background: #F3F2EF; }
  #main-navigation #hamburger {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem; }
    #main-navigation #hamburger .bar {
      width: 24px;
      height: 3px;
      background: black;
      margin-bottom: 4px; }
      #main-navigation #hamburger .bar:last-child {
        width: 18px;
        margin-right: 0;
        margin-left: auto; }

.image-viewer {
  width: 100%;
  height: 400px;
  position: relative; }
  .image-viewer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 600ms ease-in-out; }
  .image-viewer img.right {
    transform: translateX(140vw); }
  .image-viewer img.left {
    transform: translateX(-140vw); }
  .image-viewer .dots, .image-viewer .image-viewer-counter {
    position: absolute;
    bottom: 0; }
  .image-viewer .dots {
    right: 0; }
    .image-viewer .dots .image-viewer-dot {
      cursor: pointer;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      border: 2px solid black;
      display: inline-block;
      margin-right: 2px; }
      .image-viewer .dots .image-viewer-dot.selected {
        background: black; }

#homepage .event {
  position: relative; }
  #homepage .event img {
    width: 80%;
    max-height: 200px;
    object-fit: cover; }
  #homepage .event .date {
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.4em; }
    #homepage .event .date span {
      font-size: 1rem;
      font-weight: 400; }
  #homepage .event .event-info {
    text-align: right;
    width: 70%;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 5rem; }

/*# sourceMappingURL=main.css.map */
