/* mixin for multiline */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, .filter, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif; }

h1, h2, h3, h4, h5, h6, .header1, .ql-container h1, .header2, .header3 {
  font-weight: bold; }

h1, .header1, .ql-container h1 {
  font-size: calc(1.7857142857vw + 37.7142857143px);
  line-height: 1.2em; }

h2, .header2 {
  font-size: calc(0.8928571429vw + 26.8571428571px); }

h3, .header3 {
  font-size: calc(0vw + 24px); }

.subtitle1 {
  font-size: 1.125rem;
  font-weight: bold; }

.subtitle2 {
  font-size: 1rem;
  font-weight: bold; }

p {
  line-height: 1.4em; }

b, strong {
  font-weight: bold; }

em {
  font-style: italic; }

.caption, .input-field label, .input-field .helper-text {
  font-size: 0.75rem;
  line-height: 1.2em; }

.overline {
  font-size: 0.625rem; }

body {
  background-color: #F3F2EF; }

.container {
  padding: 5% 1rem 200px;
  background: #F3F2EF;
  margin-bottom: 200px; }
  .container.nav {
    padding-top: calc(4rem + 5%); }
  .container.max-mobile {
    max-width: 375px;
    padding-left: auto;
    padding-right: auto; }

.full-width {
  width: 100%; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.right {
  text-align: right;
  margin-right: 0;
  margin-left: auto; }

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 0; }

a {
  display: block;
  color: #1A1A1A;
  text-decoration: none; }

.link {
  display: inline-block;
  border-bottom: 1px dashed #1A1A1A; }

p a {
  display: inline; }

#main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 10000;
  background: #F3F2EF; }
  #main-navigation #leo-logo {
    display: inline-block;
    z-index: 10; }
  #main-navigation #hamburger {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 10001; }
    @media screen and (min-width: 48em) {
      #main-navigation #hamburger {
        display: none; } }
    #main-navigation #hamburger .bar {
      width: 24px;
      height: 3px;
      background: #1A1A1A;
      margin-bottom: 4px; }
      #main-navigation #hamburger .bar:last-child {
        width: 18px;
        margin-right: 0;
        margin-left: auto; }
  @media screen and (min-width: 48em) {
    #main-navigation .item-list {
      display: inline-block; }
    #main-navigation #close-nav {
      display: none; }
    #main-navigation li {
      display: inline-block; } }
  @media screen and (max-width: 48em) {
    #main-navigation #hamburger:not(.closed) {
      display: none; }
    #main-navigation #hamburger.closed + .item-list {
      transform: translateX(100%); }
    #main-navigation #close-nav {
      text-align: right;
      padding-top: 1.5rem; }
    #main-navigation .item-list {
      position: fixed;
      background: #1A1A1A;
      top: 0;
      right: 0;
      width: 90vw;
      height: 100vh;
      overflow-y: scroll;
      padding-bottom: 4rem;
      transform: translateX(0);
      transition: transform 200ms ease-in-out;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }
      #main-navigation .item-list .nav-item, #main-navigation .item-list .nav-item.dropdown span {
        position: relative;
        display: block;
        border-bottom: 1px solid white;
        color: white;
        padding: 1rem 2rem;
        font-size: 1.125rem;
        font-weight: bold; }
        #main-navigation .item-list .nav-item.selected, #main-navigation .item-list .nav-item.selected > a, #main-navigation .item-list .nav-item.selected span, #main-navigation .item-list .nav-item.dropdown span.selected, #main-navigation .item-list .nav-item.dropdown span.selected > a, #main-navigation .item-list .nav-item.dropdown span.selected span {
          color: #757573; }
        #main-navigation .item-list .nav-item.dropdown, #main-navigation .item-list .nav-item.dropdown span.dropdown {
          padding: 0 2rem; }
          #main-navigation .item-list .nav-item.dropdown span, #main-navigation .item-list .nav-item.dropdown span.dropdown span {
            margin: 0 -2rem;
            cursor: pointer; }
          #main-navigation .item-list .nav-item.dropdown ul, #main-navigation .item-list .nav-item.dropdown span.dropdown ul {
            transform-origin: top; }
          #main-navigation .item-list .nav-item.dropdown::after, #main-navigation .item-list .nav-item.dropdown::before, #main-navigation .item-list .nav-item.dropdown span.dropdown::after, #main-navigation .item-list .nav-item.dropdown span.dropdown::before {
            content: '';
            width: 16px;
            height: 3px;
            background: white;
            position: absolute;
            right: 2rem;
            top: 26px; }
          #main-navigation .item-list .nav-item.dropdown::before, #main-navigation .item-list .nav-item.dropdown span.dropdown::before {
            transform: rotate(90deg);
            transition: transform 100ms ease-in-out; }
          #main-navigation .item-list .nav-item.dropdown li:first-child a, #main-navigation .item-list .nav-item.dropdown span.dropdown li:first-child a {
            border-top: 0; }
          #main-navigation .item-list .nav-item.dropdown .nav-item, #main-navigation .item-list .nav-item.dropdown span.dropdown .nav-item {
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: white;
            margin-right: -2rem; }
          #main-navigation .item-list .nav-item.dropdown:not(.open) ul, #main-navigation .item-list .nav-item.dropdown span.dropdown:not(.open) ul {
            height: 0;
            transform: scaleY(0); }
          #main-navigation .item-list .nav-item.dropdown:not(.open) span, #main-navigation .item-list .nav-item.dropdown span.dropdown:not(.open) span {
            border: 0; }
          #main-navigation .item-list .nav-item.dropdown.open ul, #main-navigation .item-list .nav-item.dropdown span.dropdown.open ul {
            height: auto;
            transform: scaleY(1); }
          #main-navigation .item-list .nav-item.dropdown.open::before, #main-navigation .item-list .nav-item.dropdown span.dropdown.open::before {
            transform: rotate(0deg); }
        #main-navigation .item-list .nav-item a, #main-navigation .item-list .nav-item.dropdown span a {
          color: white; } }

.image-viewer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow-x: hidden; }
  .image-viewer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 600ms ease-in-out; }
  .image-viewer img.right {
    transform: translateX(140vw); }
  .image-viewer img.left {
    transform: translateX(-140vw); }
  .image-viewer .dots, .image-viewer .image-viewer-counter {
    position: absolute;
    bottom: 10px; }
  .image-viewer .dots {
    right: 0; }
    .image-viewer .dots .image-viewer-dot {
      cursor: pointer;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      border: 2px solid #1A1A1A;
      display: inline-block;
      margin-right: 2px; }
      .image-viewer .dots .image-viewer-dot.selected {
        background: #1A1A1A; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  background-color: #1A1A1A;
  color: white;
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  min-height: 48px;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin-bottom: 4px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }
  .button.fluid {
    width: 100%; }
  .button.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    width: 50px;
    height: 48px;
    padding: 0;
    z-index: 10000; }
  .button:not(:disabled)::after {
    content: '';
    position: absolute;
    border: 1px solid #1A1A1A;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(4px, 4px);
    transition: transform 200ms ease-in-out; }
  .button:not(:disabled):hover {
    transform: translate(4px, 4px); }
    .button:not(:disabled):hover::after, .button:not(:disabled):hover::before {
      bottom: 0; }
    .button:not(:disabled):hover::after {
      transform: translate(0, 0); }
  .button:active::after {
    animation: button-press 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .button:disabled {
    background-color: #CAC9C6;
    cursor: default; }
  .button.secondary {
    background-color: white;
    color: #1A1A1A; }
    .button.secondary::after {
      border-color: white;
      border-width: 2px; }

@keyframes button-press {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1.05, 1.2);
    opacity: 0; } }
.input-field {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%; }
  .input-field input:not([type="checkbox"]), .input-field select {
    height: 56px; }
  .input-field select {
    cursor: pointer; }
    .input-field select:hover {
      box-shadow: inset 0 -3px 0 0 #1A1A1A; }
  .input-field input:not([type="checkbox"]), .input-field select, .input-field textarea {
    font-size: 16px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 200ms linear;
    color: #1A1A1A;
    font-weight: 400;
    -webkit-appearance: none;
    border: 1px solid #1A1A1A;
    padding: 0.5rem 1rem;
    border-radius: 0;
    outline: 0; }
    .input-field input:not([type="checkbox"]):focus, .input-field select:focus, .input-field textarea:focus {
      box-shadow: inset 0 -3px 0 0 #1A1A1A; }
  .input-field label {
    position: absolute;
    top: 20px;
    left: 1rem;
    opacity: 0;
    transition: all .3s ease;
    color: #757573;
    pointer-events: none; }
  .input-field input {
    display: flex; }
  .input-field input:not(:placeholder-shown) {
    padding: 28px 1rem 12px 1rem; }
  .input-field input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
    opacity: 1; }
  .input-field .helper-text {
    color: #757573;
    margin-left: 1rem;
    margin-top: 4px; }

footer {
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: #1A1A1A;
  color: white;
  padding: 2rem; }

.course-search {
  z-index: 2; }
  .course-search .autocomplete {
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    background-color: white;
    border: 1px solid #1A1A1A; }
    .course-search .autocomplete div {
      padding: 1rem 1rem;
      cursor: pointer; }
      .course-search .autocomplete div:hover, .course-search .autocomplete div.active-item {
        background-color: #CAC9C6; }

.ql-container {
  font-size: 1rem !important; }
  .ql-container h1 {
    margin-bottom: 1rem !important; }

.ql-tooltip-arrow {
  border-bottom-color: #1A1A1A !important; }

.ql-tooltip {
  border-radius: 0 !important;
  background: #1A1A1A !important; }

.ql-stroke {
  stroke: white !important; }

.ql-fill {
  fill: white !important; }

.filter {
  background: white;
  color: #1A1A1A;
  box-shadow: 1px 1px 0 #1A1A1A;
  padding: 4px 12px;
  display: inline-block;
  border: 1px solid #1A1A1A;
  cursor: pointer;
  margin-right: 4px;
  transition: box-shadow 200ms ease-in-out;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }
  .filter:hover {
    box-shadow: 2px 2px 0 #1A1A1A; }
  .filter.selected {
    background: #1A1A1A;
    color: white; }

.box-container {
  margin-left: -1rem;
  margin-right: -1rem; }

.box {
  position: relative;
  padding: 2rem 1rem;
  border: 1px solid #1A1A1A;
  margin-top: -1px;
  margin-left: -1px; }
  .box.clickable {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out; }
    .box.clickable:hover {
      box-shadow: inset 0 -3px 0 #1A1A1A;
      cursor: pointer; }

.box.box-image {
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer; }
  .box.box-image h4 {
    display: flex;
    align-items: center;
    padding-bottom: 1rem; }
    .box.box-image h4 img {
      position: absolute;
      right: 1rem; }
  .box.box-image > img {
    border-top: 2px solid #1A1A1A;
    margin: 0 -1rem -1rem -1rem;
    width: calc(100% + 2rem);
    height: calc(100% - 1rem);
    object-fit: cover; }

#homepage .event {
  position: relative; }
  #homepage .event img {
    width: 80%;
    max-height: 200px;
    object-fit: cover; }
  #homepage .event .date {
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.4em; }
    #homepage .event .date span {
      font-size: 1rem;
      font-weight: 400; }
  #homepage .event .event-info {
    text-align: right;
    width: 70%;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 5rem; }

#event-detail h3 {
  margin-top: 1rem; }
#event-detail .time-and-place {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 0; }
#event-detail .button {
  margin: 3rem auto 0; }

#project-page h1 {
  margin-bottom: 1rem; }
#project-page .button {
  margin: 2rem 0;
  display: inline-flex; }
#project-page .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }
#project-page .project-image {
  text-align: center;
  padding-bottom: 0.5rem; }
  #project-page .project-image:nth-child(3n+1) {
    grid-column: span 2; }
    #project-page .project-image:nth-child(3n+1) .image {
      height: 350px; }
  #project-page .project-image:hover img {
    transform: scale(1.1); }
  #project-page .project-image .image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 0.5rem; }
    #project-page .project-image .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 200ms ease-in-out; }

#about h1, #about h1 + p {
  text-align: right;
  margin: 0 0 0 auto; }
#about p {
  width: 80%; }

@media screen and (min-width: 48em) {
  #courses .box, #courses .labels {
    display: grid;
    grid-template-columns: 100px 1fr 200px 150px; }
  #courses .labels {
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 1rem; }
  #courses .caption, #courses .input-field label, .input-field #courses label, #courses .input-field .helper-text, .input-field #courses .helper-text {
    font-size: 1rem; }
  #courses .sort-label {
    display: flex;
    align-items: center;
    color: #757573;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
    #courses .sort-label.active {
      color: #1A1A1A;
      font-weight: bold; }
    #courses .sort-label.descending img {
      transform: rotate(180deg); }
    #courses .sort-label img {
      position: relative;
      margin-left: 4px;
      top: 2px;
      transition: transform 200ms ease-in-out; } }
@media screen and (max-width: 48em) {
  #courses .course-item {
    padding: 1.5rem 1rem; }
  #courses .class-year {
    position: absolute;
    top: 1.5rem;
    right: 1rem; }
  #courses .caption strong, #courses .input-field label strong, .input-field #courses label strong, #courses .input-field .helper-text strong, .input-field #courses .helper-text strong {
    margin-top: 8px; } }

#komite .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem; }

#thesign .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }
  #thesign .box-container .box:first-child {
    grid-column: span 2; }
  #thesign .box-container .box img {
    width: 100%;
    height: 84%;
    object-fit: cover; }

/*# sourceMappingURL=main.css.map */
