*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: #E0E7E9;
    padding: 10% 10%;
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

h1 {
    max-width: 30ch;
    margin-bottom: 2rem;
}

p {
    max-width: 70ch;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;

    color: #000000;
}

p {

    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    /* or 27px */

    color: #000000;
}

a {
    position: relative;
    border: 3px solid #9BBAC8;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    margin-top: 24px;
    transition: background 200ms ease-in-out;
}

a:hover {
    background: #9BBAC8;
}

nav {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    padding: 0 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
}


nav img {
    margin-right: 10px;
}

nav p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

img#voting {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 40vw;
    height: auto;
}

@media screen and (max-width: 600px) {
    img#voting {
        display: none;
    }
}

