.button {
  $button-animation-settings: 200ms ease-in-out;
  $button-shadow-offset: 4px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 2rem;
  border: $border;
  outline: 0;
  cursor: pointer;
  transition: transform $button-animation-settings;
  min-height: 48px;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin-bottom: $button-shadow-offset;

  @include no-select;

  &.fluid {
    width: 100%;
  }

  &.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3rem;
    right: $body-padding;
    min-width: 50px;
    height: 56px;
    padding: 0 1rem;
    z-index: $z-navbar;
  }

  span,
  img {
    transform: translate(-$button-shadow-offset, -$button-shadow-offset);
    z-index: 1;
    transition: transform $button-animation-settings;
  }

  &:not(:disabled) {
    transform: translate($button-shadow-offset, $button-shadow-offset);

    &::after {
      content: '';
      position: absolute;
      border: $border;
      background-color: $black;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(-$button-shadow-offset, -$button-shadow-offset);
      transition: transform $button-animation-settings;
    }
  }


  &:not(:disabled):hover {
    transform: translate($button-shadow-offset, $button-shadow-offset);

    &::after,
    span,
    img {
      transform: translate(0, 0);
    }
  }

  &:active::after {
    animation: button-press 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:disabled {
    background-color: $gray;
    cursor: default;
  }

  &.secondary {
    color: $black;

    &::after {
      border: none;
      box-shadow: 0 0 0 $border-width $black;
      background: white;
    }
  }
  &.small {
    font-size: 0.6rem;
    min-height: 10px;
  }
}

a.button {
  display: inline-flex;
}

@keyframes button-press {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: scale(1.05, 1.2);
    opacity: 0;
  }
}