.course-search {
  z-index: 2;

  .autocomplete {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    background-color: $white;
    box-shadow: $high-shadow;

    div {
      padding: 1rem 1rem;
      cursor: pointer;
      &:hover, &.active-item {
        background-color: $primary-light;
      }
    }
  }
}