.event {
  @extend .box;
  padding-top:100%;
  &:not(.old) {
    @extend .box.clickable;
    z-index: 1;
  }
  &.old {
    color: $gray;
    cursor: default;
    border-color: $gray;
  }
  div {
    position: absolute;
    height: calc(100% - #{5 * $body-padding});
    width: calc(100% - #{2 * $body-padding});
    top: 2 * $body-padding;
    left: $body-padding;
    overflow: hidden;
    @include text-wrap;
    h3:first-child {
     font-weight: normal;
    }
    p {
      margin-top: 2rem;
    }
  }
}