.event {
  position: relative;
  @extend .box;
  padding-top: 120%;

  &:not(.old) {
    @extend .box.clickable;
    z-index: 1;
  }

  &.old {
    opacity: 0.5;
    cursor: default;
  }

  div:not(.image-container) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: $background-color;
    padding: $body-padding;
    z-index: 1;
    border-bottom: var(--border-width) solid $black;
    @include text-wrap;

    h3:first-child {
      font-weight: normal;
    }

    p {
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }

  .image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}