footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: $footer-height;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: $footer-color;
  color: $dark-gray;
  padding: 2rem;

  img {
    height: 64px;
    width: auto;
  }
  #sit-logo {
    height: 48px;
  }
}