$hamburger-delay: .15s;

@mixin hamburger-timing {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hamburger {
    cursor: pointer;
    position: absolute;
    height: 28px;
    width: 40px;
    top: 20px;
    right: 2rem;
    .bar {
        position: absolute;
        right: 0;
        width: 40px;
        height: 4px;
        background-color: $primary-dark;
        border-radius: 2px;
        &:first-child {
            transform-origin: 0 0;
        }
        &:nth-child(2) {
            width: 30px;
            margin-left: 10px;
            top: 12px;
            margin-right: -2px;
        }
        &:last-child {
            width: 35px;
            top: 24px;
            margin-left: 5px;
            transform-origin: 40px 0;
        }
        &.open {
            &:first-child {
                transform: translateX(7px)rotate(45deg);
                transition: transform $hamburger-delay $hamburger-delay;
                @include hamburger-timing;
            }
            &:nth-child(2) {
                top: 0;
                opacity: 0;
                transition: top $hamburger-delay, opacity 50ms $hamburger-delay;
                @include hamburger-timing;
            }
            &:last-child {
                top: 0;
                transform: translateX(-7px) rotate(-45deg);
                transition: $hamburger-delay, transform $hamburger-delay $hamburger-delay, width $hamburger-delay;
                @include hamburger-timing;
                width: 40px;
                margin-left: 0;
            }
        }
        &.closed {
            &:first-child {
                transform: rotate(0deg);
                transition: transform $hamburger-delay;
                @include hamburger-timing;

            }
            &:nth-child(2) {
                top: 12px;
                opacity: 1;
                transition: top $hamburger-delay $hamburger-delay, opacity 50ms $hamburger-delay;
                @include hamburger-timing;

            }
            &:last-child {
                top: 24px;
                transform: rotate(0deg);
                width: 35px;
                margin-left: 5px;
                transition: $hamburger-delay $hamburger-delay, transform $hamburger-delay, width $hamburger-delay;
                @include hamburger-timing;
            }
        }
    }
}