a {
    display: block;
    color: $black;
    text-decoration: none;
}

p a,
.link {
    display: inline-block;
    border-bottom: $border-width dashed $black;
    margin-left: 5px;
}

p a {
    display: inline;
}