a {
    text-decoration: none;
}

a.block {
    display: block;
}

p a:not([type="button"]), a.link {
    font-family: inherit;
    position: relative;
    transition: color 150ms 50ms ease-in-out;
    overflow: hidden;

    // Same colour for visited and unvisited
    &, &:visited {
        color: $link-color;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        z-index: -1;
        background-color: $link-color;
        transition: transform 200ms ease-in-out;
        transform: scaleX(0);
        transform-origin: bottom left;
    }

    &:hover {

        &::before {
           transform: scaleX(1);
        }
    }
}

a[type="button"] {
    background-color: #fff;
    box-shadow: $med-shadow;
    text-decoration: none;
    color: $text-color;
}

