.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 400ms ease-in-out;
  z-index: $z-modal;
  background: $background-color;
  padding: $body-padding;
  &:not(.open) {
    transform: translate(-200vw, -50%);
  }
}

.scrim {
  background: rgba($black, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-modal - 1;
  transition: opacity 200ms ease-in-out;
  cursor: zoom-out;

  &:not(.show) {
    opacity: 0;
    pointer-events: none;
    //z-index: -1;
  }
}