$hamburger-bp: $sm;
body.dark {
  nav#main-navigation {
    &::before {
      background-color: $black;
    }
    .nav-item {
      color: lighten($dark-gray, 5%);
    }
    .nav-item::before {
      background-color: lighten($black, 5%);
    }
  }
}

nav#main-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // Desktop
  @media screen and (min-width: $hamburger-bp) {
    display: flex;
    height: $nav-height;
    align-items: center;
  }
  // Mobile
  @media screen and (max-width: $hamburger-bp) {
    padding-top: 4rem;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color $animation-duration $animation-ease;
    will-change: background-color;
  }

  &:hover::before {
    background-color: $light-gray;
  }

  #leo-logo {
    @media screen and (max-width: $hamburger-bp) {
      display: none;
    }

    img {
      height: 42px;
      width: auto;
    }
  }

  #hamburger {
    @media screen and (min-width: $hamburger-bp) {
      display: none;
    }
    @media screen and (max-width: $hamburger-bp) {
      &:not(.closed) {
        ~ .left-aligned, ~ .right-aligned {
          display: none;
        }
      }
    }
  }

  .left-aligned, .right-aligned {
    @media screen and (min-width: $hamburger-bp) {
      display: flex;
      height: 100%;
    }
  }

  .right-aligned {
    position: absolute;
    right: 0;
  }

  .user {
    content: 'Min side';

    img {
      display: none;
    }

    @media screen and (min-width: $hamburger-bp) {
      img {
        display: block;
        width: 32px;
        height: auto;
      }
    }
  }

  .nav-item {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: $text-color;
    position: relative;

    @media screen and (max-width: $hamburger-bp) {
      padding: 1rem;
      &:last-child {
        box-shadow: $high-shadow;
      }
    }


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      will-change: transform;
      transition: transform $animation-duration $animation-ease;
      transform-origin: top;
      background-color: $white;
      z-index: -1;
      opacity: 1;
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }
}