.ql-container {
  font-size: 1rem !important;

  h1 {
    margin-bottom: 1rem !important;
    @extend .header1;
  }
}

.ql-tooltip-arrow {
  border-bottom-color: $black !important;
}
.ql-tooltip {
  border-radius: 0 !important;
  background: $black !important;
}

.ql-stroke {
  stroke: white !important;
}

.ql-fill {
  fill: white !important;
}
