#login-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        width: 250px;
        margin: 0 auto;
        display: block;
    }

    form {
        position: relative;
        top: -2rem;
        width: $xs;
        display: block;
    }
    .button {
        margin: 0 auto;
    }
    .links {
        margin-top: 2rem;
        color: $primary;
        a {
            margin: 0 1rem;
        }
    }
}