{% extends 'base.html' %}

{% block page_title %}Fag{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container nav" id="courses">
        <div class="row">
            <a href="{% url 'create_course' %}" class="button cta">Legg til nytt fag</a>
            <div class="input-field">
                <input type="text" id="search" placeholder=".">
                <label for="search">Søk</label>
            </div>
        </div>
        <div class="filters">
            {% for filter in filters %}
                <div class="filter">
                    <div class="color" style="background-color: {{ filter.color }}"></div>
                    {{ filter.name }}
                </div>
            {% endfor %}
        </div>
        <div class="course-list">
            <div class="labels">
                <span>Fagkode</span>
                <span>Fag</span>
                <span>Klasse</span>
                <span>Type</span>
            </div>
            {% for course in courses %}
                <a href="{% url 'course_detail' course_slug=course.slug %}">
                    <div>{{ course.course_code }}</div>
                    <div>{{ course.name }}</div>
                    <div>{{ course.class_year }}</div>
                    <div>
                        <div class="color" style="background-color: {{ course.filter.color }}">
                            <span>{{ course.filter.name }}</span></div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        let filters = $('.filter');

        filters.click(function () {
            $(this).toggleClass('selected');
        });
    </script>
{% endblock javascript %}