{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container--nav" id="courses">
        <div class="course-list">
            {% for course in courses %}
                <a href="{% url 'course_detail' course_slug=course.slug %}" class="course card clickable">
                    <h3>{{ course.name }}</h3>
                    <p>{{ course.course_code }}</p>
                    <p>{{ course.class_year }}</p>
                    <p>{{ course.reviews.all.count }} erfaringer</p>
                </a>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'create_course' %}" class="button cta">Opprett fag</a>
{% endblock content %}