{% extends 'base.html' %}
{% load static %}

{% block page_title %}Opprett nytt fag{% endblock %}

{% block content %}
    <div id="create-course" class="container">
        <a href="{% url 'courses' %}" class="tilbake">Tilbake</a>
        <form method="post" novalidate>
            {% csrf_token %}
            <div style="display: none">
                {{ form.name }}
                {{ form.course_code }}d
            </div>
            {% include 'components/course-search.html' %}
            <div class="input-field">
                {{ form.class_year }}
            </div>
            <input type="submit" class="button cta" value="Opprett fag">
        </form>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/ajaxSetup.js' %}"></script>
    <script>
        $('form').submit(function (e) {
            e.preventDefault();
            let courseInput = $('#course-input');
            let courseCode = courseInput.data('course-code');
            let courseName = courseInput.data('course-name');
            $('#id_course_code').val(courseCode);
            $('#id_name').val(courseName);
            $(this).unbind('submit').submit();
        });
    </script>
{% endblock %}