{% extends 'base.html' %}

{% load static %}

{% block page_title %}Om{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="container nav about-page">
    <div class="about-image">
        <img src="{% static 'img/about.jpg' %}" alt="">
    </div>
    <div class="about-text">
        <h1>Leonardo<br>linjeforening</h1>
        <h5>- Linjeforeningen for industriell design</h5>
        <div class="location">
            <i class="material-icons">place</i>
            <p>Leonardo linjeforening<br>
                Kolbjørn Heies vei 2B<br>
                7349 Trondheim
            </p>
        </div>
        <p>På Gløshaugen er det en lang tradisjon for linjeforeninger, der Leonardo er en av de yngste og ble opprettet
            i
            1994, samme året som Institutt for Produktdesign ble etablert.
        </p>
        <p><br>
            Formålet med linjeforeningen er å skape et bra sosialt tilbud til studentene i og utenfor skoletiden. Ditt
            første møte med Leonardo er under Fadderperioden som arrangeres sammen med årets 2. klassinger. I løpet av
            fadderperioden vil du bli kjent med dine nye klassekamerater, og ellers folk fra de andre klassene.
            Fadderperioden er noe du forhåpentligvis kommer til å huske tilbake på med et smil og som en fantastisk
            start
            på livet på IPD. Utover i året fortsetter tilbudene. Blant annet immatrikuleringsball for første klasse,
            styrevalg, temafester, bedriftspresentasjoner og workshops.
        </p>
    </div>
    <div class="styremedlemmer">
        {% for styremedlem in styremedlemmer %}
        <div class="styremedlem">
            <img src="{{ styremedlem.profile_picture.url }}" alt="{{ styremedlem.styretittel }}">
            <div>
                <h3 class="styretittel">{{ styremedlem.styretittel }}</h3>
                <p class="name">{{ styremedlem.full_name }}</p>
                <p class="phone"><i class="material-icons">phone</i>{{ styremedlem.phone_number }}</p>
                <p class="email"><i class="material-icons">email</i>{{ styremedlem.e_mail }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}