{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container nav" id="komite">
        <h1>Komiteer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
        <div class="box-container">
            {% for komite in komiteer %}
                <a class="box box-image" href="{% url 'komite-detail'  komite_pk=komite.pk %}">
                    <h4 class="subtitle2">{{ komite.name }}<img src="{% static 'img/icons/arrow.svg' %}" alt=""></h4>
                    <img src="{{ komite.post_image.url }}" alt="{{ komite.name }}">
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}