{% extends 'base.html' %}

{% block page_title %}TheSign{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container nav" id="thesign">
        <h1>TheSign</h1>
        <br><br>
        <div class="box-container">
            {% for thesign in thesigns %}
                <a class="box" href="{{ thesign.url }}">
                    <div class="image-container">
                        <img src="{{ thesign.cover.url }}" alt="">
                    </div>
                    <p>Utgave {{ thesign.edition_number }} {{ thesign.year }}</p>
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}