 {% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}Designsystem{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="input-field">
                    <input id="shadow-input" type="text" placeholder=".">
                    <label for="shadow-input">Label</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}
