{% extends 'base.html' %}

{% load staticfiles %}
{% load project_filters %}

{% block page_title %}Prosjekter{% endblock %}

{% block body_class %}dark{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container nav" id="project-page">
        {% if request.user.is_authenticated %}
            <a class="button cta" id="create-project" href="{% url 'create-project' %}">Legg ut prosjekt</a>
        {% endif %}
        {% for project in projects %}
            <div class="project-image {% if forloop.first %}active{% endif %}">
                <a class="description" href="{% url 'project-detail' project_slug=project.slug %}">
                    <h3>{{ project.title }}</h3>
                    <p class="creator">{{ project.creator }}</p>
                    <p>{{ project.description }}</p>
                </a>
                <a class="image" href="{% url 'project-detail' project_slug=project.slug %}">
                    <img class="" src="{{ project.projectimage_set.all|get_first_project_image_url }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static "js/dynamicShadow.js" %}"></script>
    <script src="{% static "js/projects.js" %}"></script>
    <script>
        let currentScroll;
        let url;
        let projectImages = $('.project-image');

        function saveLocation(scroltop) {

            url = window.location.href;
            clearTimeout($.data(this, 'scrollTimer'));
            $.data(this, 'scrollTimer', setTimeout(function () {
                localStorage.setItem(url, scroltop);
            }, 250));
        }

        $(window).scroll(function () {
            currentScroll = $(this).scrollTop();
            saveLocation(currentScroll);
            projectImages.each(function() {
               if (Math.abs(($(this).offset().top) - currentScroll) < 400) {
                   projectImages.removeClass("active");
                   $(this).addClass("active")
               }
            });
        });

        if (localStorage.getItem(window.location.href)) {
            url = window.location.href;
            scroltop = localStorage.getItem(url);
            $(window).scrollTop(scroltop);
        }
    </script>
{% endblock %}