.input-container {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;

  label {
    position: absolute;
    font-size: 1rem;
    top: 1rem;
    left: 0.5rem;
    transition: top 200ms ease-in-out, color 200ms ease-in-out;
    will-change: top, color;
    color: $dark-gray;
    pointer-events: none;
  }

  input, select, textarea {
    width: 100%;
    background: none;
    outline: 0;
    font-size: 1rem;
    padding: 1.2rem 0.5rem 0.6rem;
    border: 0;
    border-bottom: 1px solid $gray;
    height: 48px;
    min-width: 200px;

    &:hover {

    }

    &::placeholder {
      visibility: hidden;
    }

    &:not(:placeholder-shown) + label {
      top: -0.4rem;
      font-size: 0.75rem;
      color: $gray;
    }
  }

  select {
    cursor: pointer;
    border-radius: 0;
  }

  textarea {
    resize: vertical;
    min-height: 6rem;
  }

  .errorlist {
    margin: 0;
    li {
      position: relative;
      color: $error;
      margin-left: 1rem;
      padding-left: 0.5rem;

      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        background-color: $error;
        width: 2px;
        height: 10px;
        border-radius: 10px;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}