<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feil...</title>
    <style>
        body {
            font-family: 'Montserrat', 'Helvetica', sans-serif;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <h1>Det oppstod dessverre en feil</h1>
    <p>Hør med noe Webbafolk</p>
</body>
</html>