{% load static %}

<nav id="main-navigation">
    <a href="{% url 'students' %}" id="leo-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 311.81 311.81"><defs><style>.a{fill:#0093bc;}</style></defs><title>Logo</title><path class="a" d="M0,0V311.81H311.81V0ZM187.09,62.35h62.36v62.37H187.09Zm62.36,187.1H62.36V62.36h62.36V187.08H249.45Z"/></svg>
    </a>
    <div id="hamburger">
        <div class="bar closed"></div>
        <div id="middle" class="bar closed"></div>
        <div class="bar closed"></div>
    </div>
    <div>
        <div id="nav-items">
            <div id="bar"></div>
            <ul>
                <li class="nav-item" {% if 'student' in request.path %}class="selected"{% endif %}><a href="{% url 'students' %}">Student</a></li>
                <li class="nav-item" {% if 'project' in request.path %}class="selected"{% endif %}><a href="{% url 'projects' %}">Prosjekter</a></li>
                <!-- <li class="nav-item" {% if 'bedrift' in request.path %}class="selected"{% endif %}><a href="">Bedrift</a></li> -->
                <li class="nav-item" {% if 'wiki' in request.path %}class="selected"{% endif %}><a href="{% url 'wiki' %}">Wiki</a></li>
                <li class="nav-item" {% if 'about' in request.path %}class="selected"{% endif %}><a href="{% url 'about' %}">Kontakt</a></li>
            
                {% if request.user.is_authenticated %}
                <li class="user">
                    <span>{{ request.user.email }}</span>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="{% url 'logout' %}">Logg ut</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li class="register"><a href="{% url 'register' %}">Registrer</a></li>
                <li id="login"><a href="{% url 'login' %}">Logg in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    
</nav>