{% load static %}

<nav id="main-navigation">
    <a href="{% url 'students' %}" id="leo-logo" class="nav-item">
        <img src="{% static 'img/Logo/Inverse.svg' %}" alt="Leonardo-logoen">
    </a>
    <div id="hamburger">
        <div class="bar closed"></div>
        <div id="middle" class="bar closed"></div>
        <div class="bar closed"></div>
    </div>
    <div class="left-aligned">
        <a class="nav-item" {% if 'student' in request.path %}class="selected"{% endif %}
           href="{% url 'students' %}">Student</a>
        <a class="nav-item" {% if 'project' in request.path %}class="selected"{% endif %}
           href="{% url 'projects' %}">Prosjekter</a>
        <a class="nav-item" {% if 'wiki' in request.path %}class="selected"{% endif %}
           href="{% url 'wiki' %}">Wiki</a>
        <a class="nav-item" {% if 'about' in request.path %}class="selected"{% endif %}
           href="{% url 'about' %}">Kontakt</a>
    </div>

    <div class="right-aligned">
        {% if request.user.is_authenticated %}
            <a class="nav-item" href="{% url 'my_profile' %}">{{ request.user.email }}</a>
            <a class="nav-item" href="{% url 'logout' %}">Logg ut</a>
        {% else %}
            <a class="register nav-item" href="{% url 'register' %}">Registrer ny bruker</a>
            <a class="nav-item" id="login" href="/login">Logg in</a>
        {% endif %}
    </div>

</nav>