{% load static %}

<nav id="main-navigation">
    <div id="leo-logo">
        <img src="" alt="">
    </div>
    <div id="hamburger">
        <div class="bar closed"></div>
        <div id="middle" class="bar closed"></div>
        <div class="bar closed"></div>
    </div>
    <ul>
        <div id="bar"></div>
        <div id="nav-items">
            <li {% if 'student' in request.path %}class="selected"{% endif %}><a href="{% url 'students' %}">Student</a></li>
            <li {% if 'project' in request.path %}class="selected"{% endif %}><a href="{% url 'projects' %}">Prosjekter</a></li>
            <li {% if 'bedrift' in request.path %}class="selected"{% endif %}><a href="">Bedrift</a></li>
            <li {% if 'wiki' in request.path %}class="selected"{% endif %}><a href="{% url 'wiki' %}">Wiki</a></li>
            <li {% if 'about' in request.path %}class="selected"{% endif %}><a href="{% url 'about' %}">Kontakt</a></li>
        </div>
        {% if request.user.is_authenticated %}
            <li id="user">
                <span>{{ request.user.email }}</span>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li id="login"><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
    </ul>
</nav>