{% extends 'base.html' %}
{% load static %}

{% block page_title %}Boksalg{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container nav" id="books">
        <h1>Boksalg</h1>
        <p class="paragraph p-width">Finner du en bok du ønsker å kjøpe kan du enten løpe inn i klasserommet og prate med
            personen, eller sende en melding med favoritt-meldingstjenesten din.</p>
        <img src="{% static 'img/illustrations/trond-are.png' %}" alt="Trond Are selger bøker">
        {% if request.user.is_authenticated %}
            <a href="{% url 'create-book' %}" class="button">Legg ut bok for salg</a>{% endif %}
        <br><br><br>
        <div class="box-container">
            {% for book in books %}
                <div class="book box">
                    <img src="{{ book.image.url }}" alt="">
                    <p class="caption gray">{{ book.course.name }} – {{ book.course.course_code }}</p>
                    <p class="">{{ book.title }}</p>
                    <div class="bottom">
                        <p class="caption">{{ book.seller.first_name }} {{ book.seller.last_name }}, {{ book.seller.get_class_year }}.
                            klasse</p>
                        <h6 class="subtitle2">{{ book.price }} kr</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}