{% extends 'base.html' %}

{% block content %}
    <div class="container nav narrow">
        <a href="{% url 'books' %}" class="tilbake">-</a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" id="title" name="title" placeholder=".">
                <label for="title">Boktittel</label>
            </div>
            {% include 'components/course-search.html' %}
            <div class="input-field">
                <input type="number" min="0" id="price" name="price" placeholder=".">
                <label for="title">Pris i kr</label>
            </div>
            <div class="input-field">
                <input type="file" id="image" name="image" placeholder=".">
                <label for="image">Bilde</label>
                <p class="helper-text">Bruk et bilde i stående format for best resultat</p>
            </div>
            <input type="submit" value="Legg ut bok" class="button cta">
        </form>
    </div>
{% endblock %}