$home-breakpoint: 780px;
#landing-page {
    width: 100vw;
    height: 100vh;
    @media screen and (max-width: $home-breakpoint) {
        .square {
            width: 100%;
            height: 50%;
        }
        .row {
            height: 90vh;
            width: 100%;
        }
    }
    @media screen and (min-width: $home-breakpoint) {
        #student,
        #prosjekter,
        #bedrift,
        #kontakt {
            width: 50%;
            height: 100%;

            &.active {
                width: 55%;
            }
            &.blur {
                width: 45%;
            }
        }
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 50vh;
            width: 100%;

            &.active {
                height: 60vh;
            }
            &.blur {
                height: 40vh;
            }
        }
        #student, #prosjekter, #bedrift, #kontakt, .row {
            transition: width 200ms ease-in-out, height 200ms ease-in-out;
        }

    }
    #student {
        background-color: $red;
    }
    #prosjekter {
        background-color: $yellow;
    }
    #bedrift {
        background-color: $dark-blue;
    }
    #kontakt {
        background-color: #fff;
    }
}