{% load days_until %}

{% with event.event_start_time|days_until as days %}
<a class="event {% if days < 0 %}old{% endif %}"
    href="{% url 'event' event_slug=event.slug %}"
    >
    <div>
        {% if days >= 0 %}<p>{{ days }} dager til</p>{% endif %}
        <h3>{{ event.event_start_time|date:"d.m.y" }}</h3>
        <h3>{{ event.title }}</h3>
    </div>
    <div class="image-container">
        <img src="{{ event.image.url }}" alt="{{ event.short_description }}">
    </div>
</a>
{% endwith %}