{% load static %}

<!--<footer>
    <h4>Leonardo er sponset av:</h4>
    <img id="sit-logo" src="{% static 'img/spons/sit-logo.svg' %}" alt="Tekna-logo">
    <img id="tekna-logo" src="{% static 'img/spons/tekna-logo.svg' %}" alt="Tekna-logo">
    <img id="tekna-logo" src="{% static 'img/spons/variant-logo.svg' %}" alt="Tekna-logo">
</footer>-->
<style>
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #footer {
    /*background-color: #0996B4;*/
    /*background-image: url(img/footer_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    */
    position: relative;
    bottom: -5vh;
    margin-top: auto;


    
    
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    */
    
    color: #105867;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 10vh;
    background-color: #1F96B4;
}

#footer_mail {
    color: #105867;
    text-decoration: none;
    font-size: 2.4vmin;
    font-weight: 600;
}

#footer_mail:hover {
    color: #217383;
}

#footer_content {
    display: flex;
    flex-direction: column;
    /*usikker på om dette vil hjelpe?
    width: 100%;*/
}

#footer_top {
    height: 30vh;
    background: url('{% static "img/footer/background_cropped.png" %}') bottom no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.9em 0.9em 0em 0.9em;
}

#footer_bottom {
    background-color: #105867;
    height: 6vh;
    color: #1F96B4;
    
}

#footer_send_tips {
    color:#1F96B4;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    margin-left: 2vw;
}

#footer_send_tips:hover {
    color:#40aac5;
}

footer p {
    
    margin: 1vh 0vh 1vh 0vh;
    font-weight: normal;
    font-size: 2.3vmin;
    color: white;
    
}



#footer_contact {
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: space-evenly;
}


#sponsor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1vh;
    column-gap: 2%;
    width: 33.4vw;
    margin-top: 20vh;
}

#spons_text {
    color: #105867;
    font-weight: 600;
    margin-left: 8vw;
}


#social {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-content: flex-end;
    gap: 1vw;
    margin-bottom: -30vh;
    margin-right: 7vw;
}

#variant {
    margin-top: -2vh;
    height: 5vh;
    margin-left: 8vw;
}


@media (max-width: 760px) {
    #footer_top {
        background-image: none;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        min-width: 200px;
        height: 33vh;
        align-self: center;
        padding: 0;
        text-align: center;
        margin-top: 4vh;
        gap: 2vh;
    }

    #social {
        align-self: center;
        margin: auto;
        margin-top: 2vh;
    }

    #footer_contact {
        justify-content: flex-start;
        align-items: center;
        height: 30vh;
        margin: auto;
    }

    #sponsor {
        justify-content: center;
        margin: auto;
        margin-bottom: 3vh;
    }

    #spons_text {
        margin-left: 0;
    }

    #variant {
        margin-left: 0;
    }

}
</style>
<footer id="footer">
    <div id="footer_content">
        <div id="footer_top">
            <div id="footer_contact">
                <span style="font-size: 20px;">KONTAKT OSS </span>
                <p> Leonardo Linjeforening
                    <br>
                    Kolbjørn Hejes vei 2B
                    <br>
                    7491 Trondheim
                    
                    
                </p>
                <a id="footer_mail" href="mailto:leonardo@leonardo.no">kontakt@industrielldesign.no</a>

                <div id="social">
                    <!--Instagram-->
                    <a href="https://www.instagram.com/leonardo.linjeforening/" target="_blank">
                        <img id="instagram" class="social" onmouseover="leftLightOn()" onmouseout="lightOff()" src="{%static 'img/footer/instagram_blaa.svg'%}" height="25vw" width="25vw">
                    </a>
                    
                    <!--Facebook-->
                    <a href="https://www.facebook.com/groups/142627265775491" target="_blank">
                        <img class="social" onmouseover="leftLightOn()" onmouseout="lightOff()" src="{%static 'img/footer/facebook_blaa.svg'%}" height="25vw" width="25vw">
                    </a>

                    <!--Slack-->
                    <a href="https://app.slack.com/client/T03UE3N08AZ/C03UGUU2WRH" target="_blank">
                        <img id="slack" class="social" onmouseover="slack()" onmouseout="slackOut()" src="{%static 'img/footer/slack_blaa.svg'%}" height="25vw" width="25vw">
                    </a>
                    <!--Linkedin-->
                    <a href="https://no.linkedin.com/company/leonardo-linjeforening" target="_blank">
                        <img class="social" onmouseover="leftLightOn()" onmouseout="lightOff()" src="{%static 'img/footer/linkedin.svg'%}" height="25vw" width="25vw">
                    </a>
                </div>
            
                
            </div>


            

            <div id="sponsor">
                <p id="spons_text">
                    Leonardo er sponset av
                </p>
                <a href="https://www.variant.no/" target="_blank"> <img id="variant" src="{%static 'img/footer/variant_hvit.svg'%}" onmouseover="variant()" onmouseout="variantOut()" height="30vmin" width="120vmin"> </a>
            </div>
        

        </div>
    </div>
    
    <div id="footer_bottom">
        <a id="footer_send_tips" href="mailto:websjef@industrielldesign.no" color="white">Hvis du finner feil på nettsiden, eller har andre innspill, ta gjerne kontakt! </a>
    </div>

    
</footer>


<script src="{%static 'js/footer.js'%}"></script>