{% load static %}

<nav id="main-navigation">
    <div id="hamburger">
        <div class="bar"></div>
        <div id="middle" class="bar"></div>
        <div class="bar"></div>
    </div>
    <a href="{% url 'home' %}" id="leo-logo" class="nav-item">
        <img src="{% static 'img/Logo/Inverse.svg' %}" alt="Leonardo-logoen">
    </a>
    <div class="left-aligned">
        <div class="nav-item {% if 'leonardo' in request.path %}selected{% endif %}">
            Leonardo
            <div class="dropdown">
                <ul>
                    <li><a href="{% url 'komiteer' %}">Komiteer</a></li>
                    <li><a href="{% url 'leonardo-shop' %}">Butikk</a></li>
                    <li><a href="{% url 'thesign' %}">TheSign</a></li>
                    <li><a href="{% url 'about' %}">Om oss</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-item {% if 'student' in request.path %}selected{% endif %}">
            Student
            <div class="dropdown">
                <ul>
                    <li><a href="{% url 'ny-student' %}" disabled="">Ny student?</a></li>
                    <li><a href="{% url 'books' %}">Boksalg</a></li>
                    <li><a href="{% url 'utveksling' %}">Utveksling</a></li>
                    <li><a href="{% url 'klassetur' %}">Klasseturer</a></li>
                </ul>
            </div>
        </div>
        <a class="nav-item {% if 'prosjekt' in request.path %}selected{% endif %}"
           href="{% url 'projects' %}">Prosjekter</a>
        <a class="nav-item {% if 'tips' in request.path %}selected{% endif %}"
           href="{% url 'tips' %}">Tips og triks</a>
        <a class="nav-item {% if 'jobb' in request.path %}selected{% endif %}"
           href="{% url 'job' %}">Jobb</a>
        {#        <a class="nav-item {% if 'fag' in request.path %}selected{% endif %}"#}
        {#           href="{% url 'about' %}">Kontakt</a>#}
    </div>

    <div class="right-aligned">
        {% if request.user.is_authenticated %}
            <a class="nav-item user" href="{% url 'my_profile' %}"><img src="{% static 'img/icons/user.png' %}"></a>
        {% else %}
            <a class="register nav-item" href="{% url 'register' %}">Registrer ny bruker</a>
            <a class="nav-item" id="login" href="/login">Logg in</a>
        {% endif %}
    </div>
</nav>