{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Leonardo</title>

    <link rel="stylesheet" href="{% static 'industrielldesign/css/main.css' %}">

    <script src="{% static 'industrielldesign/jquery/jquery.min.js' %}"></script>
</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% static 'industrielldesign/js/index.js' %}"></script>
    <script src="{% static 'industrielldesign/js/hamburger.js' %}"></script>
</body>
</html>