{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Leonardo</title>

    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
</head>

<body>
    {% block content %}{% endblock content %}
    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static '/js/hamburger.js' %}"></script>
</body>

</html>