{% extends "base.html" %}

{% block content %}
{% include "components/navbar.html" %}
<div class="container max-mobile nav">
    <form method="post" class="new-password">
        {% csrf_token %}
        <div class="input-field">
            <input name="password" type="password" placeholder="Nytt passord" autocomplete="new-password">
            <label for="allergies">Nytt passord</label>
        </div>
        <button type="submit" class="button"><span>Lagre nytt passord</span></button>
    </form>
</div>
{% endblock content %}