{% extends "base.html" %}

{% block content %}
    {% include "components/navbar.html" %}
    <div class="container max-mobile nav">
        <form method="post" class="user-info">
            {% csrf_token %}
            <div class="input-field">
                {{ form.allergies }}
                <label for="allergies">Allergier</label>
            </div>
            <div class="input-field">
                {{ form.graduation_year }}
                <label for="allergies">Allergier</label>
            </div>
            <div class="input-field">
                {{ form.is_komite }}
                <div class="checkmark"></div>
                <label for="{{ form.is_komite.id_for_label }}">Komitémedlem</label>
            </div>
            <button type="submit" class="button"><span>Lagre info</span></button>
        </form>
    </div>
{% endblock content %}