{% extends 'base.html' %}

{% load static %}

{% block page_title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<div id="profile-page" class="container nav">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <div class="user-settings">
        <form method="post" class="user-info" autocomplete="off">
            {% csrf_token %}
            <div class="input-field">
                {{ form.allergies }}
                <label for="allergies">Allergier</label>
            </div>
            <div class="input-field">
                {{ form.graduation_year }}
                <label for="allergies">Allergier</label>
            </div>
            <div class="input-field">
                <input type="checkbox" id="is_komite" {% if request.user.komite is not None %}checked{% endif %}>
                <div class="checkmark"></div>
                <label for="is_komite">Komitémedlem</label>

                <div class="input-field">
                    {{ form.komite }}
                    <label for="{{ form.komite.id_for_label }}">Komitémedlem</label>
                </div>
            </div>
            <div class="input-field">
                <input name="new-password" type="password" placeholder="Nytt passord" autocomplete="new-password">
                <label for="allergies">Nytt passord</label>
            </div>
            <button type="submit" class="button"><span>Lagre</span></button>
        </form>
        <form method="post" class="new-password">
        </form>
    </div>
    <!-- Not currently in use
        
        <div id="books" class="my-books">
        <h3>Mine bøker</h3>
        <br>
        <div class="box-container">
            {% for book in my_books %}
            <div class="book box">
                <div class="image-container">
                    <img src="{{ book.image.url }}" alt="">
                </div>
                <p class="caption gray">{{ book.course.name }} – {{ book.course.course_code }}</p>
                <p class="">{{ book.title }}</p>
                <div class="bottom">
                    <p class="caption">{{ book.seller.first_name }} {{ book.seller.last_name }},
                        {{ book.seller.get_class_year }}.
                        klasse</p>
                    <h6 class="subtitle2">{{ book.price }} kr</h6>
                    <br>
                    <button class="button book-delete" data-book-pk="{{ book.pk }}"><img src="{% static 'img/icons/close_white.svg' %}"><span>Slett</span></button>
                </div>
            </div> -->
            {% endfor %}
        </div>
    </div>
    <div class="user-activity">

    </div>
    <br>
    <br>
    <br>
    <a href="{% url 'logout' %}" class="button secondary"><span>Logg ut</span></a>


</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/ajaxSetup.js' %}"></script>
<script>
const komite = $('#id_komite');
$('#is_komite').change(function() {
    if (!$(this).is(":checked")) {
        komite.val('');
    }
});
$('.book-delete').click(function() {
    deleteBook($(this), $(this).data('book-pk'));
});
function deleteBook(self, book_pk) {
    $.ajax({
        type: 'POST',
        url: '{% url "delete_book" %}',
        data: {
            'book_pk': book_pk
        },
        success: () => {
            $(self).parent().parent().remove();
        }
    });
}
</script>

{% endblock javascript %}