{% extends 'base.html' %}

{% load static %}

{% block page_title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<div id="profile-page" class="container nav">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h3>Endre brukerinformasjon:</h3>
    <br>
    <div class="user-settings">
        <a class="button-link" href="{% url 'change_info' %}">Endre allergier, klasse eller komite<img src="{% static 'img/icons/arrow.svg' %}"></a>
        <a class="button-link" href="{% url 'change_password' %}">Endre passord<img src="{% static 'img/icons/arrow.svg' %}"></a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="books" class="my-books">
        <h3>Mine bøker</h3>
        <br>
        <div class="box-container">
            {% for book in my_books %}
            <div class="book box">
                <div class="image-container">
                    <img src="{{ book.image.url }}" alt="">
                </div>
                <p class="caption gray">{{ book.course.name }} – {{ book.course.course_code }}</p>
                <p class="">{{ book.title }}</p>
                <div class="bottom">
                    <p class="caption">{{ book.seller.first_name }} {{ book.seller.last_name }},
                        {{ book.seller.get_class_year }}.
                        klasse</p>
                    <h6 class="subtitle2">{{ book.price }} kr</h6>
                    <br>
                    <button class="button book-delete" data-book-pk="{{ book.pk }}"><img src="{% static 'img/icons/close_white.svg' %}">Slett</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="user-activity">

    </div>
    <br>
    <br>
    <br>
    <a href="{% url 'logout' %}" class="button secondary"><span>Logg ut</span></a>


</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/ajaxSetup.js' %}"></script>
<script>

$('.book-delete').click(function() {
    deleteBook($(this), $(this).data('book-pk'));
});

function deleteBook(self, book_pk) {

    $.ajax({
        type: 'POST',
        url: '{% url "delete_book" %}',
        data: {
            'book_pk': book_pk
        },
        success: () => {
            $(self).parent().parent().remove();
        }
    });
}
</script>

{% endblock javascript %}