#books {
  display: grid;
  @media screen and (min-width: $md) {
    grid-template-columns: 200px 1fr;
  }

  p.paragraph {
    margin-top: 2rem;
    color: $dark-gray;
  }

  .filters {

  }

  .books {
    .book {
      position: relative;
      min-height: 170px;
      padding-left: calc(128px + 2rem);
      margin-bottom: 6rem;
      @media screen and (max-width: $sm) {
        padding-left: calc(64px + 1rem);
      }

      p.course, p.seller, p.date {
        color: $dark-gray;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 128px;
        height: 170px;
        object-fit: cover;
        box-shadow: $high-shadow;
        @media screen and (max-width: $sm) {
          width: 64px;
          height: 85px;
        }
      }

      h3.price {
        color: $accent;
        text-transform: none;
      }

      p.date {
        font-size: 10px;
      }

      div.bottom {
        @media screen and (min-width: $sm) {
          position: absolute;
          bottom: 0;
        }

        p {
          line-height: 1.4em;
        }
      }
    }
  }
}