// SHADOWS:
@mixin high-shadow() {
    box-shadow: 0 0 0 0;
}

@mixin med-shadow() {
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.11);
}

@mixin low-shadow() {
    box-shadow: 0 0 0 0;
}

@mixin no-select() {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin text-wrap() {
    overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
}