.about-page {
    .about-image, .about-text {
        float: left;
    }
    .about-image {
        width: 40%;
        height: calc(100vh - #{$nav-height});
        margin-bottom: 150px;
        @media screen and (max-width: 1000px) {
            width: 10%;
        }
        @media screen and (max-width: 1000px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .about-text {
        width: 60%;
        padding: 0 5%;
        margin-top: 3%;
        margin-bottom: 150px;
        @media screen and (max-width: 1000px) {
            width: 90%;
        }
    }
    h1 {
        color: $light-blue;
        font-family: $bold;
        line-height: 1em;
        font-size: 3rem;
        @media screen and (min-width: 600px) {
            font-size: 4.666666667rem;
        }
    }
    h5 {
        position: relative;
        font-size: 1.555555556rem;
    }

    .location {
        position: relative;
        margin: 50px 0;
        font-family: $bold;
        i {
            position: absolute;
            top: 5px;
        }
        p {
            margin-left: 2rem;
            line-height: 1.5em;
        }
    }

    .styremedlemmer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (min-width: 700px) {
            left: 30px;
        }
        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr;
        }
        .styremedlem {
            position: relative;
            margin-bottom: 80px;
            @media screen and (min-width: 700px) {
                &:nth-child(even) {
                    top: 90px;
                }
            }
            div {
                @media screen and (max-width: 700px) {
                    text-align: center;
                }
                @media screen and (min-width: 1080px) {
                    float: left;
                }
                .styretittel {
                    font-size: 1.333333333rem;
                    font-family: $bold;
                    margin-bottom: 0;
                    margin-top: 1.5rem;
                }
                .name {
                    // margin-bottom: 1rem;
                }
                .email, .phone {
                    font-size: .777777778rem;
                }
                i {
                    position: relative;
                    font-size: 16px;
                    top: 2px;
                    margin-right: 8px;
                }
            }
            img {
                @media screen and (max-width: 700px) {
                    display: block;
                    margin: 0 auto;
                }
                box-shadow: 8px 8px $gray;
                margin-right: 40px;
                width: 150px;
                height: auto;
                @media screen and (min-width: 1080px) {
                    float: left;
                }
            }
        }
    }
}