#event-page {

    .bilde, .beskrivelse {
    }

    .beskrivelse {
        padding: 87px 10% 0;
        width: 60%;
        height: 120vh;
        box-sizing: border-box;
        transition: transform 200ms ease-in-out;

        h1 {
            margin-top: 87px;
        }

        &.not-loaded {

        }

    }
    .bilde {
        position: fixed;
        width: 40%;
        height: 100vh;
        top: 0;
        right: 0;
        transition: transform 500ms ease-in-out;

        img {
            min-height: 100vh;
            width: 100%;
            object-fit: cover;
        }
        &.not-loaded {
            transform: translateX(100%);
        }
    }
    .signup {
        position: fixed;
        width: 45%;
        bottom: 70px;
        left: 20%;
        padding: 2rem;
        background-color: $light-blue;
        color: white;
        font-size: 1.5rem;
        transition: transform 400ms ease-in-out;

        &.not-loaded {
            transform: translateY(100%);
        }
        .button {
            display: inline-block;
        }
    }
}