#register {
    max-width: $md;
    margin: 0 auto;
    .register-inputs {
        margin-top: 3rem;
        h1 {
            color: $primary;
            font-size: 4rem;
            font-weight: bold;
        }
        #checkboxLabel {
            @include no-select();
        }
        input[type="submit"] {
            margin-top: 1rem;
        }
    }
}